<section class="fixed inset-0 bg-black/80 backdrop-blur-sm flex items-center justify-center z-50">

    <!-- WAIT for user -->
    <ng-container *ngIf="user$ | async as user">
  
      <div class="bg-black border border-red-600/40 w-full max-w-md p-6 rounded-lg shadow-2xl text-white relative">
  
        <!-- Close button -->
        <button (click)="closeDialog()"
          class="absolute top-3 right-3 p-1text-gray-400 hover:text-red-500 transition">
          <i-feather name="x"></i-feather>
        </button>
  
        <!-- Header -->
        <h2 class="text-2xl font-extrabold text-center mb-1 tracking-wide">
          <span class="text-white">WELCOME</span>
          <span class="text-red-600"> {{ user.firstname | uppercase }}</span>
        </h2>
  
        <p class="text-center text-gray-200 mb-6 text-sm tracking-wide italic">
          Discipline builds power, add a new task today!
        </p>
  
        <!-- FORM -->
        <form [formGroup]="addTodoForm" class="space-y-5">
  
          <!-- Task textarea -->
          <div>
            <label class="block text-xs font-bold tracking-widest text-gray-200 mb-2">
              TASK DESCRIPTION
            </label>
  
            <textarea
              formControlName="task"
              rows="5"
              placeholder="Enter task details here......."
              class="w-full p-3 bg-white border border-gray-700 rounded-md text-black 
                     focus:outline-none
                     transition"
              [ngClass]="{
                'border-red-500': addTodoForm.get('task')?.invalid && addTodoForm.get('task')?.dirty
              }"
            ></textarea>
  
            <p *ngIf="addTodoForm.get('task')?.invalid && addTodoForm.get('task')?.dirty"
              class="text-red-400 text-xs mt-2 tracking-wide">
             At Least 20 characters required.....
            </p>
          </div>
  
          <!-- Submit button -->
          <button
            type="button"
            (click)="addTodo()"
            class="w-full bg-red-600 hover:bg-red-700 active:scale-95 
                   transition-all duration-200 text-white font-bold py-2 rounded-md
                   tracking-widest shadow-lg shadow-red-900/40">
            ADD TASK
          </button>
  
        </form>
      </div>
  
    </ng-container>
  
  </section>