<section class="flex-cols md:flex items-center justify-center gap-5 mt-8 space-y-4 md:space-y-0">
    <div>
        <h3 class="text-center text-md md:text-lg text-gray-950">Personalized Coaching Sessions</h3>
        <div class="text-center">⭐⭐⭐⭐⭐</div>
    </div>
    <div>
        <h3 class="text-center text-md md:text-lg text-gray-950">Customizable Membership Options</h3>
        <div class="text-center">⭐⭐⭐⭐⭐</div>
    </div>
    <div>
        <h3 class="text-center text-md md:text-lg text-gray-950">Comprehensive Exercise Library</h3>
        <div class="text-center">⭐⭐⭐⭐⭐</div>
    </div>
</section>
<section class="mt-4 md:mt-8">
    <div class="flex items-center justify-center text-sm">
       <span class="text-white bg-red-600 px-2 rounded-md">Discover our super plans just for you</span> 
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 items-center justify-center">
        <div *ngFor="let plan of plans"
            class="h-64 border border-gray-300 rounded flex flex-col justify-between p-4">
            <h3 class="text-center text-md md:text-lg text-gray-950 font-bold">{{ plan.name }}</h3>
            <hr>
            <ul class="text-sm text-gray-600 mt-2">
                <li *ngFor="let detail of plan.details">{{ detail }}</li>
            </ul>
            <div class="text-center mt-2">
                <span class="font-bold">Duration:</span> {{ plan.duration }}
            </div>
            <div class="text-center mt-4">Save {{ plan.discount }}% with {{ plan.name }}</div>
        </div>
    </div>
</section>
<div class="flex justify-center mt-8">
    <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Subscribe Now
    </button>
</div>