<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-gray-950 font-sans font-bold text-xl uppercase mt-4">{{ categoryData.name }} [ID {{
                categoryData.id }}</p>
            <p class="text-red-600 font-sans font-bold text-sm italic">
                created at {{ formatDate(categoryData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div>
                    <img class="w-16" class="bg-gray-200 rounded-md p-2"
                        [src]="'../../../assets/icons/' + categoryData.photo +'.png'">
                </div>
                <div class="flex flex-col m-4 gap-2">
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        {{ categoryData.description }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        <ng-container *ngFor="let tag of categoryData.tagSet; let i = index">
                            {{ tag.name }} {{ i < (categoryData.tagSet.length - 1) ? "/" : "" }} </ng-container>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Liked by {{ categoryData.likes }} users
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        Category status: {{ categoryData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(categoryData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>