<div class="rounded-md m-4">
    <div class="text-red-600 text-right font-bold p-1">
        <i-feather name="x-circle" (click)="closeDialog()"
        class="cursor-pointer ml-20"></i-feather>
    </div>
        <h1 class="font-bold font-sans text-xl text-center p-1">Update password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
        <div class="mx-auto">
            <input formControlName="oldPassword"
                class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                [ngClass]="{'border-red-400': changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched }"
                placeholder="Enter your old password" type="password">
            <div *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.dirty"
                class="text-red-500 mx-2">
                must be at least 8 characters
            </div>
        </div>
        <div class="mx-auto">
            <input formControlName="newPassword"
                class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                [ngClass]="{'border-red-400': changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched }"
                placeholder="Enter a new password" type="password">
            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.dirty"
                class="text-red-500 mx-2">
                must be at least 8 characters
            </div>
        </div>
        <div class="mx-auto">
            <input formControlName="confirmPassword"
                class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                [ngClass]="{'border-red-400': changePasswordForm.get('confirmPassword')?.invalid && changePasswordForm.get('confirmPassword')?.touched }"
                placeholder="re-type password" type="password">
            <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.dirty"
                class="text-red-500 mx-2">
                Passwords do not match.
            </div>
        </div>

        <div class="flex justify-center m-2">
            <button class="bg-red-600 p-2 px-2 rounded-md font-bold font-sans text-gray-200 text-sm"
             type="submit">
                submit
            </button>
        </div>
    </form>