<div class="font-sans rounded-lg" *ngIf="user !=null">
    <div class="w-full h-64 overflow-hidden">
        <img src="../../../../assets/landing/hero-bg-4.jpg"
            class="w-full h-48 md:h-64 object-cover overflow-hidden rounded-lg">
    </div>
    <div class="overflow-visible -mt-32 md:-mt-16  flex items-center justify-center">
        <img [src]="'data:image;base64, ' + user.profilePhoto" onerror="this.src='../../../assets/icons/user.png';"
            class="shadow-lg ring-offset-2 ring-red-400 ring-4 rounded-full w-32">
    </div>
    <div class="p-2 mt-10 text-sm md:text-md font-bold text-gray-950 flex items-center justify-center">
        Hello {{ user.firstname }} {{ user.lastname }}, it appears that you do not have any pending partnership
        applications at the moment.
        To become a partner, kindly complete the application form below &#128079; &#128079;
        &#128079;.
    </div>
    <section class="p-2 mt-10">
        <header class="text-center m-2">
            <h1 class="font-bold font-sans text-xl md:text-2xl text-red-600 p-10">
                Unlock Your True Potential
            </h1>
            <div class="text-justify p-2">
                <p class="font-sans text-sm text-gray-950">
                    <span class="ml-4">Embrace</span> the opportunity to inspire and transform lives. As a Berliz
                    Trainer,
                    you have the power to
                    ignite passion, foster growth, and open doors to new horizons. By guiding individuals in their
                    fitness
                    journey, you become a catalyst for positive change,
                    motivating them to push their limits and achieve remarkable physical feats.
                </p>
                <p class="mt-4 font-sans text-sm text-gray-800">
                    <span class="ml-4">Step</span> into a rewarding role where you'll empower athletes and fitness
                    enthusiasts to surpass their goals.
                    By helping individuals conquer challenges and celebrate successes, you
                    create a sense of fulfillment and accomplishment in their fitness endeavors.
                </p>
                <p class="mt-4 font-sans text-sm text-gray-800">
                    <span class="ml-4">Join</span> our global network of dedicated fitness educators and become part of
                    a
                    legacy that has empowered
                    millions to live active and healthy lives. As a Berliz Trainer, you'll be part of a supportive
                    community
                    where collaboration and continuous learning are embraced. Your unique skills, passion, and
                    dedication
                    will make a lasting impact on the lives of those seeking to transform their bodies and elevate their
                    performance.
                </p>
                <p class="mt-4 font-sans text-sm text-gray-800">
                    <span class="ml-4">Don't</span> miss out on the chance to be a driving force for positive change.
                    Begin
                    your journey today and
                    embark on a fulfilling career with Berliz. Together, we'll inspire greatness, celebrate victories,
                    and
                    redefine the boundaries of human potential in the world of sports and fitness.
                </p>

            </div>
        </header>
        <div class="mt-12 bg-red-600 border-2 rounded-md max-w-2xl min-w-2xl mx-auto py-2 "
            [ngClass]="{'border-white': addPartnerForm.invalid && invalidForm}">
            <div class="" [ngClass]="{'border-white': addPartnerForm.invalid && invalidForm }">
                <header class="text-center m-2 text-white">
                    <h1 class="font-bold font-sans text-xl">Become a Berliz partner</h1>
                    <p class="font-sans text-sm">Register today and transform lives
                    </p>
                </header>
                <hr class="text-white font-bold">
                <section class="py-2">
                    <form [formGroup]="addPartnerForm">
                        <div class="invalid-form">
                            <span *ngIf="(addPartnerForm.get('facebookUrl')?.invalid ||
                            addPartnerForm.get('motivation')?.invalid ||
                            addPartnerForm.get('instagramUrl')?.invalid ||
                            addPartnerForm.get('role')?.invalid)
                             && invalidForm" class="text-white mx-2 font-bold">
                                Please complete all sections
                            </span>
                            <span *ngIf="!(addPartnerForm.get('facebookUrl')?.invalid ||
                            addPartnerForm.get('motivation')?.invalid ||
                            addPartnerForm.get('instagramUrl')?.invalid ||
                            addPartnerForm.get('role')?.invalid)" class="text-white mx-2 font-bold">
                                Everything looks good
                            </span>
                        </div>
                        <div class="grid grid-cols-1 gap-5 text-white p-2">
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Upload certificate</span>
                                <span class="ml-4 font-bold text-white italic">Certification</span>
                                <div class="flex">
                                    <div class="shrink-0">
                                        <feather-icon name="file-text" class="p-1 mt-2 text-white rounded-md"
                                            style="width: 60px;">
                                        </feather-icon>
                                    </div>
                                    <input formControlName="certificate"
                                        class="w-full border-2 px-4 py-2 rounded-md m-2 col-span-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none
                                        block w-full text-sm text-gray-950 font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                                        file:text-sm file:bg-gray-100 file:text-red-600 hover:file:bg-gray-200 file:cursor-pointer text-white"
                                        [ngClass]="{'border-white': invalidForm && this.addPartnerForm.get('certificate')?.dirty }"
                                        (change)="onCertificateSelected($event)" type="file" accept=".pdf">
                                </div>
                                <!-- <div *ngIf="this.addPartnerForm.get('certificate')?.invalid && this.addPartnerForm.get('certificate')?.dirty"
                                    class="text-white mx-2">
                                    Upload a valid file
                                </div> -->
                                <div *ngIf="addPartnerForm.get('certificate')?.hasError('invalidSize') && addPartnerForm.get('certificate')?.dirty"
                                    class="text-white mx-2">
                                    File size exceeds 4MB
                                </div>
                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Motivation</span>
                                <span class="ml-4 font-bold text-white italic">Motivation</span>
                                <textarea formControlName="motivation"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 col-span-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none text-gray-950"
                                    [ngClass]="{'border-red-400': addPartnerForm.get('motivation')?.invalid && addPartnerForm.get('motivation')?.dirty }"
                                    placeholder="Tell us why you want to be a Berliz partner in at least 50 words"
                                    rows="5" cols="25"></textarea>
                                <div *ngIf="addPartnerForm.get('motivation')?.invalid && addPartnerForm.get('motivation')?.dirty"
                                    class="text-white mx-2">
                                    At least 50 characters
                                </div>
                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Upload cv</span>
                                <span class="ml-4 font-bold text-white italic">Upload CV</span>
                                <div class="flex">
                                    <div class="shrink-0">
                                        <feather-icon name="file-text" class="p-1 text-white mt-2 rounded-md"
                                            style="width: 60px;">
                                        </feather-icon>
                                    </div>
                                    <input formControlName="cv"
                                        class="w-full border-2 px-4 py-2 rounded-md m-2 col-span-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none
                                    block w-full text-sm text-gray-950 font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                                    file:text-sm file:bg-gray-100 file:text-red-600 hover:file:bg-gray-200 file:cursor-pointer text-white"
                                        [ngClass]="{'border-white': invalidForm && this.addPartnerForm.get('cv')?.dirty}"
                                        (change)="onCVSelected($event)" type="file" accept=".pdf">
                                </div>
                                <!-- <div *ngIf="this.addPartnerForm.get('cv')?.invalid && this.addPartnerForm.get('cv')?.dirty"
                                    class="text-white mx-2">
                                    Upload a valid file
                                </div> -->
                                <div *ngIf="addPartnerForm.get('cv')?.hasError('invalidSize') && addPartnerForm.get('cv')?.dirty"
                                    class="text-white mx-2">
                                    File size exceeds 4MB
                                </div>

                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Partnership</span>
                                <span class="ml-4 font-bold text-white italic"> Partnership</span>
                                <select formControlName="role" id="role"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none text-gray-950"
                                    [ngClass]="{'border-red-400': addPartnerForm.get('role')?.invalid && addPartnerForm.get('role')?.touched }"
                                    type="text">
                                    <option selected hidden class="font-sans">Select partnership</option>
                                    <option *ngFor="let role of roles">{{ role.role }}</option>
                                </select>
                                <div *ngIf="addPartnerForm.get('role')?.invalid && addPartnerForm.get('role')?.touched"
                                    class="text-white mx-2">
                                    Please Select a role
                                </div>
                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Facebook url link *required</span>
                                <span class="ml-4 font-bold text-white italic">Facebook url </span>
                                <input formControlName="facebookUrl"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none text-gray-950"
                                    [ngClass]="{'border-red-400': addPartnerForm.get('facebookUrl')?.invalid && addPartnerForm.get('facebookUrl')?.dirty }"
                                    placeholder="https://www.facebook.com/my-profile/" type="text">
                                <div *ngIf="addPartnerForm.get('facebookUrl')?.invalid && addPartnerForm.get('facebookUrl')?.dirty"
                                    class="text-white mx-2">
                                    Please enter a valid facebook url
                                </div>
                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Instagram url link *required</span>
                                <span class="ml-4 font-bold text-white italic">Instagram url link</span>
                                <input formControlName="instagramUrl"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none text-gray-950"
                                    [ngClass]="{'border-red-400': addPartnerForm.get('instagramUrl')?.invalid && addPartnerForm.get('instagramUrl')?.dirty }"
                                    placeholder="https://www.instagram.com/my-profile/" type="instagramUrl">
                                <div *ngIf="addPartnerForm.get('instagramUrl')?.invalid && addPartnerForm.get('instagramUrl')?.dirty"
                                    class="text-white mx-2">
                                    Please enter a valid instagram url
                                </div>
                            </div>
                            <div class="mx-auto p-2 w-full">
                                <span class="sr-only">Youtube url link *optional</span>
                                <span class="ml-4 font-bold text-white italic">Youtube url</span>
                                <input formControlName="youtubeUrl"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none text-gray-950"
                                    [ngClass]="{'border-red-400': addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty }"
                                    placeholder="https://www.youtube.com/my-profile/" type="youtubeUrl">
                                <div *ngIf="addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty"
                                    class="text-white mx-2">
                                    Please enter a valid youtube url
                                </div>
                            </div>
                            <button
                                class="p-1 px-2 m-2 bg-gray-100 mx-auto rounded-md text-sm text-red-600 font-bold font-sans
                             transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                                type="submit" (click)="addPartner()">
                                Submit
                            </button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>