<div class="w-full bg-gray-950 rounded-b-md flex items-center h-20 lg:h-10">
    <div class="grid grid-cols-2 lg:grid-cols-3 mx-auto gap-2 p-5 text-sm">
        <h3 class="text-white pl-5">
            &copy; <span class="text-red-600 font-bold font-sans">Berliz.</span> All right reserved
        </h3>
        <h3 class="text-white">
            Developed by
            <span class="text-red-600 font-bold font-sans cursor-pointer" [routerLink]="['/blessed-tasela']">
                Blessed Tasela
            </span>
        </h3>
        <div class="flex flex-wrap gap-2 lg:gap-10 items-center col-span-2 lg:col-span-1 mx-auto">
            <h3 class="text-white">
                FAQs
            </h3>
            <h3 class="text-white">
                Terms
            </h3>
            <h3 class="text-white">
                Privacy
            </h3>
            <h3 class="text-white">
                Help
            </h3>
        </div>
    </div>
</div>