.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
.spacer{
    flex: 1;
}

.button-line {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-transition {
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}
