.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.spacer {
  flex: 1;
}

.button-line {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-transition {
  transition: opacity 3s ease-in-out, transform 3s ease-in-out;
}

.logo-blend {
  /* Helps fade light edges into dark backgrounds */
  mix-blend-mode: darken;

  /* Optional soft gradient mask to feather edges */
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}


.m-top {
  margin-top: auto
}