<div class="justify-center items-center p-1 mt-4" *ngIf="notifications.length === 0">
    <h1 class="text-gray-700 italic font-sans font-bold text-2xl">
        All notifications would appear here
        <i-feather name="message-square" class="text-red-600 font-bold ml-4"></i-feather>
    </h1>
</div>
<div class="justify-center items-center p-1 mt-4 overflow-x-scroll font-sans" *ngIf="notifications.length > 0">
    <div class="min-w-[300px]">
        <table class="table-auto border-collapse rounded-lg text-gray-950 font-sans container">
            <tbody class="rounded-lg">
                <tr *ngFor="let todo of notifications; let i = index" class="">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="grid grid-cols">
                            <div>
                                {{ todo.task }}
                            </div>
                            <div class="grid grid-cols md:grid-cols-2 text-sm italic text-gray-400">
                                <span class="flex flex-cols">
                                    <i-feather name="calendar" class="font-bold text-gray-950 mr-2 mt-1 cursor-pointer"
                                        style="width: 15px;">
                                    </i-feather>
                                    created on {{ formatDate(todo.date) }}
                                </span>
                                <span class="flex flex-cols">
                                    <i-feather name="calendar" class="font-bold text-red-600 mr-2 mt-1 cursor-pointer"
                                        style="width: 15px;">
                                    </i-feather>
                                    last updated {{ formatDate(todo.lastUpdate) }}
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2 text-sm">
                        <div class="grid grid-cols md:grid-cols-2">
                            <div class="font-bold italic text-gray-700 mt-0 md:mt-3">
                                task {{ todo.status }}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>