<div class="flex justify-between items-center mb-3">
    <h1 class="text-gray-800 text-xl font-bold font-sans">Notifications </h1>
</div>

<div class="mt-6 font-sans space-y-3 mb-6" *ngIf="notifications.length > 0">

    <div *ngFor="let n of notifications | slice:0:4" (click)="openNotificationModal(n)" class="p-2 rounded-lg cursor-pointer transition-all duration-300 text-sm
           bg-white shadow-sm hover:shadow-md flex items-start gap-3" [ngClass]="{
      'bg-red-50 shadow-md': !n.read
    }">

        <!-- Bullet dot -->
        <span class="w-2 h-2 rounded-full mt-2" [ngClass]="{
        'bg-red-600': !n.read,
        'bg-gray-400': n.read
      }"></span>

        <!-- Notification content -->
        <div class="flex-1">

            <!-- Notification text -->
            <p class="text-gray-900 font-semibold line-clamp-3">
                {{ n.notification }}
            </p>

            <!-- Read more button -->
            <button *ngIf="n.notification.length > 120" class="text-red-600 text-xs font-semibold mt-1 hover:underline"
                (click)="openNotificationModal(n); $event.stopPropagation()">
                Read more →
            </button>

            <!-- Date -->
            <p class="text-gray-500 text-xs mt-2 flex items-center" [title]="n.date | date:'medium'">
                Added {{ n.date | timeAgo }}
            </p>
        </div>

    </div>

    <!-- View All Link -->
    <div class="flex justify-end mt-2">
        <a routerLink="/dashboard/my-notifications" class="text-red-600 font-semibold hover:underline text-xs">
            View all notifications →
        </a>
    </div>

</div>

<!-- EMPTY STATE -->
<div class="mt-6 mb-6 text-center text-gray-600 font-sans" *ngIf="notifications.length === 0">
    <i-feather name="check-circle" class="w-8 h-8 text-gray-400 mx-auto mb-2"></i-feather>
    <p class="text-lg font-semibold">You currently have no unread notifications</p>
</div>