<!-- notification-main.component.html -->
<div class="flex flex-col gap-4">

    <!-- Search / filters -->
    <app-search-panel (stateChange)="onFilterStateChange($event)" [sortOptions]="notificationSortOptions"
        [(searchQuery)]="searchQuery" [placeholder]="placeholder">
    </app-search-panel>

    <!-- Metrics -->
    <app-my-notification-metrics [notifications]="allNotifications"></app-my-notification-metrics>

    <!-- List -->
    <notification-list [sections]="sections" [startIndex]="startIndex" [endIndex]="endIndex"
        [total]="notificationsLength" [selectAll]="isSelectAllChecked()" (prev)="prevPage()" (next)="nextPage()"
        (toggleSelectAll)="onToggleSelectAll()" (bulkAction)="onBulkAction($event)" (open)="openDetails($event)"
        (toggle)="onToggleItem($event)" [searchQuery]="searchQuery" (markRead)="onMarkRead($event)"
        (markUnread)="onMarkUnread($event)" (deleteItem)="onDelete($event)" [selectionMode]="selectionMode">
    </notification-list>

</div>