<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-gray-950 font-sans font-bold text-xl uppercase mt-4">{{ trainerData.name }}
                - {{
                trainerData.id }}</p>
            <p class="text-gray-700 font-sans font-bold text-md">
                {{ trainerData.partner.user.email }} - user id - {{
                trainerData.partner.user.id }}
            </p>
            <p class="text-red-600 font-sans font-bold text-sm italic">
                created at {{ formatDate(trainerData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div class="rounded-lg object-cover flex">
                    <img [src]="'data:image;base64,' + trainerData.photo " class="bg-gray-200 rounded-lg p-2"
                        onerror="this.src='../../../assets/icons/user.png';">
                </div>
                <div class="grid grid-cols m-2 p-2 gap-2 flex text-justify text-md ">
                    <p class="text-gray-700 font-sans font-bold text-md">
                        {{ trainerData.motto }}
                    </p>
                    <p class="text-gray-500 font-sans font-bold text-sm flex italic text-center">
                        <ng-container *ngFor="let category of trainerData.categorySet; let i = index">
                            {{ category.name }} {{ i < (trainerData.categorySet.length - 1) ? "/" : "" }}
                                </ng-container>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Address - {{ trainerData.address }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Liked by {{ trainerData.likes }} users
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        Trainer status: {{ trainerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(trainerData.lastUpdate) }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Patner id: {{ trainerData.partner.id }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>