<div class="justify-center items-center mt-20 p-5 overflow-x-scroll">
    <div class="min-w-[300px]">
        <div class="grid grid-cols md:grid-cols-3 gap-5 mb-10">
            <div class="flex justify-start">
                <div class="flex justify-center items-center cursor-pointer">
                    <button
                        class="text-sm bg-red-600 text-white p-1 px-4 hover:bg-red-700 rounded-md
                            transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold">
                        <i-feather name="filter" class="mr-2"></i-feather>
                        <select [(ngModel)]="selectedSortOption" (change)="onSortOptionChange($event)"
                            class="mt-2 cursor-pointer border border-gray-400 rounded-md  focus:outline-none text-gray-700">
                            <option class="text-gray-500" value="date">Date added</option>
                            <option class="text-gray-500" value="name">Name</option>
                            <option class="text-gray-500" value="email">email</option>
                            <option class="text-gray-500" value="id">Contact-us id</option>
                        </select>
                    </button>
                </div>
            </div>
            <div class="flex justify-center">
                <span class="sr-only">Search</span>
                <div class="grid grid-cols-1">
                    <div class="flex justify-center items-center">
                        <input class="placeholder:italic placeholder:text-gray-400 border border-gray-400 
                                        rounded-md py-1 px-4 hover:border-gray-500 hover:drop-shadow-2xl focus:border-gray-600
                                         focus:outline-none cursor-pointer max-w-64" placeholder="Search"
                            [(ngModel)]="searchQuery">
                        <span class="cursor-pointer">
                            <i-feather name="Search" class="ml-2 text-gray-500" style="width: 28px;"></i-feather>
                        </span>
                    </div>
                    <div class="flex justify-center items-center mt-2 -ml-8">
                        <h1 class="mr-2 text-gray-500">Select criteria</h1>
                        <select (change)="onSearchCriteriaChange($event)" class="cursor-pointer border border-gray-400 rounded-md hover:border-gray-500 
                        hover:drop-shadow-2xl focus:border-gray-600 focus:outline-none text-gray-700">
                            <option class="text-gray-500" value="name">Name</option>
                            <option class="text-gray-500" value="email">Email</option>
                            <option class="text-gray-500" value="id">User id</option>
                            <option class="text-gray-500" value="description">Description</option>
                            <option class="text-gray-500" value="message">Status</option>
                        </select>
                    </div>
                    <div class="flex justify-center items-center mt-5 gap-10 font-sans font-bold">
                        <div>
                            Showing <span class="italic"> {{ counter }} </span> of
                            <span class="italic">{{ totalContactUs }}</span> results
                        </div>
                        <div>
                            sorted by<span class="italic"> {{ selectedSortOption }} </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end">
                <div class="flex justify-center items-center cursor-pointer">
                    <button
                        class="text-sm bg-red-600 text-white p-1 px-4 hover:bg-red-700 rounded-md
                            transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                        (click)="openAddContactUs()">
                        <i-feather name="plus-square"></i-feather>
                    </button>
                </div>
            </div>
        </div>
        <table class="table-auto border-collapse border border-gray-400 bg-gray-300 text-gray-950 font-sans
                container">
            <thead>
                <tr class="cursor-pointer">
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">SN</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Full name </th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Email </th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Message</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Status</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Date</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">ContactUs ID</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Last update</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contactUs of filteredContactUsData; let i = index" class="bg-gray-100 hover:bg-gray-200">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ contactUs.name }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ contactUs.email }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ contactUs.message }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ contactUs.status }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ formatDate(contactUs.date) }}</td>
                    <td class="border-b border-gray-400 px-4 py-2 font-bold">{{ contactUs.id }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ formatDate(contactUs.lastUpdate) }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center p-2">
                            <button
                                class="text-sm bg-red-600 text-white p-1 px-2 hover:bg-red-700 rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUpdateContactUs(contactUs.id)">
                                <i-feather name="edit"></i-feather>
                            </button>
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                [ngClass]="{'bg-red-600 hover:bg-red-700': contactUs.status == 'true'}"
                                (click)="updateContactUsStatus(contactUs.id)">
                                {{ contactUs.status == 'false' ? 'pending' : 'reviewed'}}
                            </button>
                            <button
                                class="text-sm bg-red-600 text-white p-1 px-2 hover:bg-red-700 rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="deleteContactUs(contactUs.id)">
                                <i-feather name="trash-2"></i-feather>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>