<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="rounded-md mx-auto">
        <form [formGroup]="addPartnerForm">
            <header class="text-center m-2 font-bold">
                <h1 class=" font-sans text-xl">Become a Berliz partner</h1>
                <p class="font-sans text-red-600 italic text-sm">Get ready to transform lives </p>
            </header>
            <div class="grid grid-cols md:grid-cols-2 p-1 gap-2">
                <div class="mx-auto grid grid-cols-4 rounded-lg text-gray-200">
                    <div class="rounded-lg  flex col-span-4 flex">
                        <img src="../../../../../assets/landing/about-vision.jpg"
                            onerror="this.src='../../../assets/icons/user.png';" class="object-fit rounded-lg">
                    </div>
                </div>
                <div class="bg-gray-200 grid grid-cols gap-4 rounded-lg p-2">
                    <div class="border-b-2 " *ngIf="formIndex === 0">
                        <span *ngIf="!  
                        (
                        addPartnerForm.get('certificate')?.invalid ||
                        addPartnerForm.get('motivation')?.invalid ||
                        addPartnerForm.get('cv')?.invalid) && invalidForm" class="mx-2 text-gray-400">
                            Everything looks good
                        </span>
                        <span *ngIf="  
                        (
                        addPartnerForm.get('certificate')?.invalid ||
                        addPartnerForm.get('motivation')?.invalid ||
                        addPartnerForm.get('cv')?.invalid) && invalidForm" class="text-red-500 mx-2">
                            Please complete this section
                        </span>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Releveant document or certificate</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Releveant document or certificate</span>
                            <div class="flex">
                                <span class="sr-only">Upload certificate</span>
                                <div class="shrink-0">
                                    <img class="h-16 w-16 object-cover rounded-full"
                                        src="../../../assets/icons/user.png" alt="Display photo" />
                                </div>
                                <input formControlName="certificate"
                                    class="border-b-2 px-4 py-2 rounded-md m-2 border-gray-400 focus:border-gray-400 focus:outline-none
                            block w-full text-sm text-gray-950 font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                            file:text-sm file:font-semibold file:bg-gray-100 file:text-red-600 hover:file:bg-gray-200 file:cursor-pointer"
                                    [ngClass]="{'border-gray-950': addPartnerForm.get('certificate')?.invalid && addPartnerForm.get('certificate')?.dirty }"
                                    (change)="onCertificateSelected($event)" type="file" accept=".pdf">
                            </div>
                            <div *ngIf="addPartnerForm.get('certificate')?.invalid && addPartnerForm.get('certificate')?.dirty"
                                class="text-red-500 mx-2">
                                Certificate is required
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Motivation</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Motivation</span>
                            <textarea formControlName="motivation"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': addPartnerForm.get('motivation')?.invalid && addPartnerForm.get('motivation')?.dirty }"
                                placeholder="Write your motivations here" rows="5" cols="15"></textarea>
                            <div *ngIf="addPartnerForm.get('motivation')?.invalid && addPartnerForm.get('motivation')?.dirty"
                                class="text-red-500 mx-2">
                                At least 50 characters
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Upload CV</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Upload CV</span>
                            <div class="flex">
                                <div class="shrink-0">
                                    <img class="h-16 w-16 object-cover rounded-full"
                                        src="../../../assets/icons/user.png" alt="Display photo" />
                                </div>
                                <input formControlName="cv"
                                    class="border-b-2 px-4 py-2 rounded-md m-2 border-gray-400 focus:border-gray-400 focus:outline-none
                            block w-full text-sm text-gray-950 font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                            file:text-sm file:font-semibold file:bg-gray-100 file:text-red-600 hover:file:bg-gray-200 file:cursor-pointer"
                                    [ngClass]="{'border-gray-950': addPartnerForm.get('cv')?.invalid && addPartnerForm.get('cv')?.dirty }"
                                    (change)="onCVSelected($event)" type="file" accept=".pdf">
                            </div>
                            <div *ngIf="addPartnerForm.get('cv')?.invalid  && addPartnerForm.get('cv')?.dirty"
                                class="text-red-500 mx-2">
                                Upload a valid file
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                <button
                                    class="bg-gray-950 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    (click)="clear()">
                                    Clear
                                </button>
                            </div>
                            <div>
                                <button
                                    class="bg-red-600 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    type="submit" (click)="toggleIndex(+1)">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="border-b-2 " *ngIf="formIndex === 1">
                        <div class="invalid-form">
                            <span *ngIf="addPartnerForm.valid && !invalidForm" class="mx-2 text-gray-400">
                                Everything looks good
                            </span>
                            <span *ngIf="(addPartnerForm.get('facebookUrl')?.invalid ||
                        addPartnerForm.get('facebookUrl')?.invalid ||
                        addPartnerForm.get('instagramUrl')?.invalid ||
                        addPartnerForm.get('role')?.invalid)
                         && invalidForm " class="text-red-500 mx-2">
                                Please complete all sections
                            </span>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Facebook url</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Facebook url</span>
                            <input formControlName="facebookUrl"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': addPartnerForm.get('facebookUrl')?.invalid && addPartnerForm.get('facebookUrl')?.dirty }"
                                placeholder="https://www.facebook.com/my-profile/" type="text">
                            <div *ngIf="addPartnerForm.get('facebookUrl')?.invalid && addPartnerForm.get('facebookUrl')?.dirty"
                                class="text-red-500 mx-2">
                                Please enter a valid facebook url
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Instagram url</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Instagram url</span>
                            <input formControlName="instagramUrl"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': addPartnerForm.get('instagramUrl')?.invalid && addPartnerForm.get('instagramUrl')?.dirty }"
                                placeholder="https://www.instagram.com/my-profile/" type="instagramUrl">
                            <div *ngIf="addPartnerForm.get('instagramUrl')?.invalid && addPartnerForm.get('instagramUrl')?.dirty"
                                class="text-red-500 mx-2">
                                Please enter a valid instagram url
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Youtube url</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Youtube url</span>
                            <input formControlName="youtubeUrl"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty }"
                                placeholder="https://www.youtube.com/my-profile/" type="youtubeUrl">
                            <div *ngIf="addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty"
                                class="text-red-500 mx-2">
                                Please enter a valid youtube url
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Role</span>
                            <span class="ml-4 font-bold text-gray-700 italic">Select partnership</span>
                            <select formControlName="role" class="w-full"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': addPartnerForm.get('role')?.invalid && addPartnerForm.get('role')?.dirty }"
                                type="text">
                                <option selected hidden class="font-sans">Please select role</option>
                                <option *ngFor="let role of roles">{{ role.role }}</option>
                            </select>
                            <div *ngIf="addPartnerForm.get('role')?.invalid && addPartnerForm.get('role')?.dirty"
                                class="text-red-500 mx-2">
                                select your role
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                <button
                                    class="bg-gray-950 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    (click)="toggleIndex(-1)">
                                    Prev
                                </button>
                            </div>
                            <div>
                                <button
                                    class="bg-red-600 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    type="submit" (click)="addPartner()">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>