<div class="flex flex-col h-full w-full">

   <!-- SEARCH + SORT (sticky) -->
   <div class="sticky top-0 z-20 bg-white pb-2">
      <app-search-my-notification (results)="handleSearchResults($event)">
      </app-search-my-notification>
   </div>

   <!-- SCROLLABLE NOTIFICATION LIST -->
   <div class="flex-1 overflow-y-auto">
      <app-my-notifications [notificationData]="notificationData" [totalNotifications]="totalNotifications"
         [notificationsLength]="notificationsLength" (emitEvent)="emitData()">
      </app-my-notifications>
   </div>

</div>