<div class="flex flex-col gap-4">

   <app-search-panel [sortOptions]="sortOptions" (stateChange)="onFilterStateChange($event)">
   </app-search-panel>

   <app-load-error *ngIf="loadError && rawNotifications.length === 0" title="Couldn't load your notifications"
      [message]="loadError" (retry)="retryLoad()"></app-load-error>

   <app-my-notifications *ngIf="!(loadError && rawNotifications.length === 0)" [notificationData]="notificationData" [totalNotifications]="totalNotifications"
      [refreshing]="refreshing" (refresh)="onRefresh()">
   </app-my-notifications>


</div>