<div class="flex flex-col gap-5 items-center justify-center bg-gray-200 fixed right-0 left-0 
                top-0 bottom-0 h-screen font-sans rounded-md">
    <form [formGroup]="activateAccountForm">
        <div class="m-2">
            <input formControlName="token"
                class="w-full border-2 px-4 py-2 rounded-md m-2 border-gray-400 hover:border-gray-500 focus:border-gray-500 focus:outline-none"
                [ngClass]="{'border-red-400': activateAccountForm.get('token')?.invalid && activateAccountForm.get('token')?.touched
            && activateAccountForm.invalid}" placeholder="please input code here" type="text">
            <div *ngIf="activateAccountForm.get('token')?.invalid && activateAccountForm.get('token')?.dirty && activateAccountForm.invalid"
                class="text-red-500 mx-2">
                code is incomplete
            </div>
        </div>
        <div class="flex justify-center">
            <button class="bg-red-600 p-2 px-2 rounded-md font-bold font-sans text-gray-200 text-sm" type="submit"
            (click)="submitForm()">
                Confirm
            </button>
        </div>
    </form>
