<div class="relative p-2">
    <section class="p-2 grid grid-cols md:grid-cols-2 gap-2">
        <div class="text-red-600 absolute top-0 right-0 p-5">
            <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
        </div>
        <div class="rounded-lg object-cover flex">
            <img src="../../../../../assets/add-contact-us.jpg" class="rounded-lg">
        </div>
        <div class="container border-2 rounded-md max-w-2xl min-w-2xl mx-auto py-2 bg-gray-200">
            <header class="text-center m-2">
                <h1 class="font-bold font-sans text-gray-700 text-xl">Review Message</h1>
                <p class="font-sans text-sm">
                
                    [Admin's Feedback/Review]

                </p>
            </header>

            <form [formGroup]="reviewContactUsForm">
                <hr
                    [ngClass]="{'border-red-500': (reviewContactUsForm.get('name')?.invalid || reviewContactUsForm.get('email')?.invalid || reviewContactUsForm.get('message')?.invalid) && invalidForm }">
                <div class="invalid-form">
                    <span
                        *ngIf="!(reviewContactUsForm.get('name')?.invalid || reviewContactUsForm.get('email')?.invalid || reviewContactUsForm.get('message')?.invalid) && invalidForm"
                        class="mx-2 text-gray-200">
                        Everything looks good
                    </span>
                    <span
                        *ngIf="(reviewContactUsForm.get('name')?.invalid || reviewContactUsForm.get('email')?.invalid || reviewContactUsForm.get('message')?.invalid) && invalidForm"
                        class="mx-2 text-red-600">
                        Please complete all sections
                    </span>
                </div>
                <div class="grid grid-cols-1 gap-5">
                    <div class="mx-auto">
                        <textarea formControlName="message"
                            class="w-full px-4 py-2 m-2 col-span-2 bg-gray-200 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': reviewContactUsForm.get('message')?.invalid && reviewContactUsForm.get('message')?.touched }"
                            placeholder="Leave message here" rows="5" cols="20"></textarea>
                        <div *ngIf="reviewContactUsForm.get('message')?.invalid && reviewContactUsForm.get('message')?.dirty"
                            class="text-red-400 mx-2">
                            Message must be at least 20 characters
                        </div>
                    </div>
                    <button
                        class="p-1 px-2 uppercase bg-red-600 mx-auto rounded-md text-sm md:text-md text-white font-sans transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                        type="submit" (click)="submitForm()">
                        Send <i-feather name="Send" class="text-gray-200 p-1"></i-feather>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>