<div class="h-full w-full bg-gradient-to-r from-gray-950 via-gray-800 to-gray-950">
    <div class="text-yellow-500 absolute top-0 right-0 m-2">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <div class="rounded-md mx-auto">
        <form [formGroup]="addTrainerForm">
            <div class="" [ngClass]="{'border-white': addTrainerForm.invalid && invalidForm }">
                <header class="text-center m-4">
                    <h1 class="font-bold font-sans text-xl text-yellow-500">Complete Trainer Application</h1>
                    <p class="font-sans text-sm text-white italic font-bold">Get ready to transform lives!
                    </p>
                </header>
                <div class="invalid-form">
                    <span *ngIf="addTrainerForm.invalid && invalidForm" class="mx-2 text-yellow-500">
                        Please complete all sections
                    </span>
                    <span *ngIf="!addTrainerForm.invalid && invalidForm" class="mx-2 text-yellow-500">
                        Everything looks good
                    </span>
                </div>
                <div class="grid grid-cols-2 gap-1 flex items-center p-2">
                    <div class="mx-auto p-2 w-full">
                        <span class="sr-only">Display Name</span>
                        <span class="text-white font-bold italic">Display Name</span>
                        <input formControlName="name"
                            class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                            [ngClass]="{'border-yellow-400': addTrainerForm.get('name')?.invalid && addTrainerForm.get('name')?.dirty }"
                            placeholder="Display name Team Berliz" type="text">
                        <div *ngIf="addTrainerForm.get('name')?.invalid && addTrainerForm.get('name')?.dirty"
                            class="text-yellow-500 mx-2">
                            Display name is requiyellow
                        </div>
                    </div>
                    <div class="mx-auto p-2 w-full">
                        <span class="sr-only">Expereince</span>
                        <span class="text-white font-bold italic">Expereince</span>
                        <input formControlName="experience"
                            class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                            [ngClass]="{'border-yellow-400': addTrainerForm.get('experience')?.invalid && addTrainerForm.get('experience')?.dirty }"
                            placeholder="experience" type="number">
                        <div *ngIf="addTrainerForm.get('experience')?.invalid && addTrainerForm.get('experience')?.dirty "
                            class="text-yellow-500 mx-2">
                            Expereince is required
                        </div>
                    </div>
                    <div class="mx-auto p-2 w-full">
                        <span class="sr-only">Motto</span>
                        <span class="text-white font-bold italic">Motto</span>
                        <textarea formControlName="motto"
                            class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                            [ngClass]="{'border-yellow-400': addTrainerForm.get('motto')?.invalid && addTrainerForm.get('motto')?.dirty }"
                            placeholder="Write a short bio about discipline or motto" rows="5" cols="25"></textarea>
                        <div *ngIf="addTrainerForm.get('motto')?.invalid && addTrainerForm.get('motto')?.dirty"
                            class="text-yellow-500 mx-2">
                            At least 30 characters
                        </div>
                    </div>
                    <div class="mx-auto p-2 w-full">
                        <span class="sr-only">Address</span>
                        <span class="text-white font-bold italic">Address</span>
                        <textarea formControlName="address"
                            class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                            [ngClass]="{'border-yellow-400': addTrainerForm.get('address')?.invalid && addTrainerForm.get('address')?.dirty }"
                            placeholder="Write your street address or location here" rows="5" cols="25"></textarea>
                        <div *ngIf="addTrainerForm.get('address')?.invalid && addTrainerForm.get('address')?.dirty"
                            class="text-yellow-500 mx-2">
                            At least 10 characters
                        </div>
                    </div>
                    <div class="mx-auto p-2 w-full col-span-2">
                        <span class="sr-only">Ipload cover Photo</span>
                        <span class="text-white font-bold italic">Upload cover photo</span>
                        <div class="flex">
                            <div class="shrink-0">
                                <img class="h-16 w-16 object-cover rounded-md" src="../../../assets/icons/user.png"
                                    alt="Display photo" />
                            </div>
                            <input formControlName="photo"
                                class="border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none
                            block w-full text-sm text-white font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                            file:text-sm file:font-semibold file:bg-gray-100 file:text-yellow-600 hover:file:bg-gray-200 file:cursor-pointer"
                                [ngClass]="{'border-gray-950': invalidForm && this.addTrainerForm.get('photo')?.dirty}"
                                (change)="onPhotoSelected($event)" type="file" accept="image/*">
                        </div>
                        <div *ngIf="this.addTrainerForm.invalid && this.addTrainerForm.get('photo')?.invalid && this.addTrainerForm.get('photo')?.dirty"
                            class="text-yellow-500 mx-2">
                            Upload a valid image
                        </div>
                    </div>
                    <div class="col-span-2 mx-auto">
                        <div class="grid grid-cols-2">
                            <div *ngFor="let cat of categories; let i = index" class="mx-auto flex items-center">
                                <input formArrayName="categoryIds" (change)="onCheckboxChanged($event)"
                                    class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                                    placeholder="tags" type="checkbox" [value]="cat.id">
                                {{ cat.name }}
                            </div>
                        </div>
                        <div *ngIf="addTrainerForm.get('categoryIds')?.invalid && invalidForm"
                            class="text-yellow-500 mx-2">
                            Select at least one category
                        </div>
                    </div>
                    <div class="bg-white rounded-md mx-auto m-2">
                        <button
                            class="p-2 font-bold font-sans mx-4 text-yellow-500 text-sm lg:text-md flex items-center justify-center"
                            (click)="clear()">
                            Clear
                        </button>
                    </div>
                    <div class="bg-yellow-500 rounded-md mx-auto m-2">
                        <button
                            class="p-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                            type="submit" (click)="addTrainer()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>