<div class="justify-center items-center p-5 overflow-x-scroll">
    <div class="min-w-[300px]">
        <table class="table-auto border-collapse border border-gray-400 bg-gray-300 text-gray-950 font-sans
                        container">
            <thead>
                <tr class="cursor-pointer">
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">SN</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Photo </th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">First Name</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Last Name</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Email - username</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">userId</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Actions</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersData; let i = index" class="bg-gray-100 hover:bg-gray-200">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center">
                            <img [src]="'data:image/jpeg;base64,' + user.profilePhoto" class="object-cover rounded-full"
                                width="40px" onerror="this.src='../../../assets/icons/user.png';">
                            <div class="bottom-0 right-0" (click)="openUpdateProfilePhoto(user.id)">
                                <i-feather name="Edit" class="font-bold text-red-600 mr-4  cursor-pointer"
                                    style="width: 15px;">
                                </i-feather>
                            </div>
                        </div>
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ user.firstname }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ user.lastname }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ user.email }}</td>
                    <th class="border-b border-gray-400 px-4 py-2 font-bold">{{ user.id }}</th>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center p-2">
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUserDetails(user.id)">
                                <i-feather name="eye" class="text-gray-800"></i-feather>
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUpdateUser(user.id)">
                                <i-feather name="edit" class="text-red-600"></i-feather>
                            </button>
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                [ngClass]="{'bg-red-600 hover:bg-red-700': user.status == 'true'}"
                                (click)="updateUserStatus(user.id)">
                                {{ user.status == 'false' ? 'activate' : 'deactivate'}}
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="deleteUser(user.id)">
                                <i-feather name="trash-2" class="text-red-600"></i-feather>
                            </button>
                        </div>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items center">{{ user.role }}
                            <button class="text-sm rounded-md font-sans ml-2 p-1 px-2 flex items center font-bold"
                                (click)="openUpdateUserRole(user.id)">
                                <i-feather name="edit" style="width: 14px;" class="text-red-600"></i-feather>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>