<section class="px-4 py-12 font-sans">
    <div class="max-w-2xl mx-auto rounded-2xl shadow-md border transition duration-300 bg-zinc-900"
        [ngClass]="{ 'border-red-600': addPartnerForm.invalid && invalidForm, 'border-gray-800': !invalidForm }">
        <!-- Header -->
        <header class="text-center px-6 py-6 text-white">
            <h1 class="text-2xl font-bold">Become a Berliz Partner</h1>
            <p class="text-sm italic mt-2">
                Join a global network and empower lives through health and fitness.
            </p>
        </header>

        <!-- Form -->
        <form [formGroup]="addPartnerForm" class="bg-zinc-100 rounded-b-2xl px-6 py-6 space-y-6">
            <!-- Validation Message -->
            <div class="text-sm text-center">
                <span *ngIf="!addPartnerForm.invalid && invalidForm" class="text-green-600 font-medium">
                    Everything looks good!
                </span>
                <span *ngIf="addPartnerForm.invalid && addPartnerForm.dirty" class="text-red-600 font-medium">
                    Please complete all required fields.
                </span>
            </div>
            <!-- Uploads Section -->
            <div class="flex items-center justify-center space-x-6 mt-8">

                <!-- Certificate Upload -->
                <div class="text-center">
                    <label class="block font-bold text-black mb-2">Certificate</label>

                    <div
                        class="w-36 h-36 border-2 border-dashed border-black rounded-lg flex items-center justify-center cursor-pointer relative hover:shadow-md transition">
                        <feather-icon name="file-text" class="text-red-600 w-10 h-10"></feather-icon>
                        <input type="file" accept=".pdf" formControlName="certificate"
                            (change)="onCertificateSelected($event)"
                            class="absolute inset-0 opacity-0 cursor-pointer" />
                    </div>
                    <!-- Wrapper -->
                    <div class="mt-2 flex flex-col items-center text-center">
                        <!-- Default Message -->
                        <p *ngIf="!selectedCertificate" class="text-xs text-black italic">
                            Select PDF file
                        </p>
                        <!-- File Selected -->
                        <div *ngIf="selectedCertificate" class="flex flex-col items-center">
                            <p class="text-xs text-green-500 truncate max-w-[160px] flex items-center gap-1">
                                <!-- <feather-icon name="file-text" class="w-2 h-2 text-red-600"></feather-icon> -->
                                {{ selectedCertificate }}
                            </p>
                            <button type="button" (click)="selectedCertificate = null"
                                class="text-red-600 hover:underline text-xs mt-1">
                                Remove
                            </button>
                        </div>
                    </div>
                    <div *ngIf="addPartnerForm.get('certificate')?.invalid && addPartnerForm.get('certificate')?.dirty"
                        class="text-xs text-red-400 mt-1">
                        Upload a valid Certificate file
                    </div>
                </div>


                <!-- CV Upload -->
                <div class="text-center">
                    <label class="block font-bold text-black mb-2">Upload CV</label>

                    <div
                        class="w-36 h-36 border-2 border-dashed border-black rounded-lg flex items-center justify-center cursor-pointer relative hover:shadow-md transition">
                        <feather-icon name="file-text" class="text-red-600 w-10 h-10"></feather-icon>
                        <input type="file" accept=".pdf" formControlName="cv" (change)="onCVSelected($event)"
                            class="absolute inset-0 opacity-0 cursor-pointer" />
                    </div>
                    <!-- Wrapper -->
                    <div class="mt-2 flex flex-col items-center text-center">
                        <!-- Default Message -->
                        <p *ngIf="!selectedCV" class="text-xs text-black italic">
                            Select PDF file
                        </p>
                        <!-- File Selected -->
                        <div *ngIf="selectedCV" class="flex flex-col items-center">
                            <p class="text-xs text-green-500 truncate max-w-[160px] flex items-center gap-1">
                                <!-- <feather-icon name="file-text" class="w-2 h-2 text-red-600"></feather-icon> -->
                                {{ selectedCV }}
                            </p>
                            <button type="button" (click)="selectedCV = null"
                                class="text-red-600 hover:underline text-xs mt-1">
                                Remove
                            </button>
                        </div>
                    </div>
                    <div *ngIf="addPartnerForm.get('cv')?.invalid && addPartnerForm.get('cv')?.dirty"
                        class="text-xs text-red-400 mt-1">
                        Upload a valid CV file
                    </div>
                </div>

            </div>

            <!-- Motivation -->
            <div>
                <textarea formControlName="motivation" rows="5"
                    placeholder="Tell us why you want to be a Berliz partner and what role in at least 50 words"
                    class="w-full px-4 py-3 rounded-md bg-white border border-gray-300 focus:outline-none focus:border-red-600 text-gray-800 placeholder-gray-500"
                    [ngClass]="{ 'border-red-400': addPartnerForm.get('motivation')?.invalid && addPartnerForm.get('motivation')?.dirty }"></textarea>
                <div *ngIf="(addPartnerForm.get('motivation')?.invalid && invalidForm) ||addPartnerForm.get('motivation')?.dirty"
                    class="text-xs text-red-500 mt-1">
                    At least 50 words are required
                </div>
            </div>

            <!-- Facebook URL -->
            <div>
                <input formControlName="facebookUrl" type="text" placeholder="Facebook URL"
                    class="w-full px-4 py-3 rounded-md bg-white border border-gray-300 focus:outline-none focus:border-red-600 text-gray-800"
                    [ngClass]="{ 'border-red-400': addPartnerForm.get('facebookUrl')?.invalid && addPartnerForm.get('facebookUrl')?.dirty }" />
                <div *ngIf="(addPartnerForm.get('facebookUrl')?.invalid && invalidForm) ||addPartnerForm.get('facebookUrl')?.dirty"
                    class="text-xs text-red-500 mt-1">
                    Please enter a valid Facebook URL
                </div>
            </div>

            <!-- Instagram URL -->
            <div>
                <input formControlName="instagramUrl" type="text" placeholder="Instagram URL"
                    class="w-full px-4 py-3 rounded-md bg-white border border-gray-300 focus:outline-none focus:border-red-600 text-gray-800"
                    [ngClass]="{ 'border-red-400': addPartnerForm.get('instagramUrl')?.invalid && addPartnerForm.get('instagramUrl')?.dirty }" />
                <div *ngIf="(addPartnerForm.get('instagramUrl')?.invalid && invalidForm) ||addPartnerForm.get('instagramUrl')?.dirty"
                    class="text-xs text-red-500 mt-1">
                    Please enter a valid Instagram URL
                </div>
            </div>

            <!-- YouTube URL -->
            <div>
                <input formControlName="youtubeUrl" type="text" placeholder="YouTube URL (optional)"
                    class="w-full px-4 py-3 rounded-md bg-white border border-gray-300 focus:outline-none focus:border-red-600 text-gray-800"
                    [ngClass]="{ 'border-red-400': addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty }" />
                <div *ngIf="addPartnerForm.get('youtubeUrl')?.invalid && addPartnerForm.get('youtubeUrl')?.dirty"
                    class="text-xs text-red-500 mt-1">
                    Please enter a valid Youtube URL
                </div>
            </div>

            <!-- Buttons -->
            <div class="flex justify-end space-x-4 pt-2">
                <button type="button" (click)="clear()"
                    class="px-5 py-2 rounded-md text-gray-700 bg-white border border-gray-400 hover:bg-gray-100 transition font-semibold">
                    Clear
                </button>

                <button type="submit" (click)="addPartner()" [disabled]="addPartnerForm.invalid"
                    [ngClass]="{'opacity-50 cursor-not-allowed': addPartnerForm.invalid}"
                    class="px-5 py-2 rounded-md bg-red-600 text-white hover:bg-red-700 transition font-semibold flex items-center gap-2">

                    <!-- <ng-container *ngIf="addPartnerForm.invalid">Complete form</ng-container> -->
                    <ng-container> <i-feather name="send" class="w-4 h-4"></i-feather>Submit</ng-container>
                </button>
            </div>
        </form>
    </div>
</section>