<div class="flex flex-col gap-6">

  <!-- Shared Search Panel -->
  <app-search-panel (stateChange)="onFilterStateChange($event)" [(searchQuery)]="searchQuery"
    [sortOptions]="todoSortOptions" [placeholder]="placeholder">
  </app-search-panel>

  <!-- DASHBOARD (only when NOT filtering) -->
  <ng-container *ngIf="!isFiltering">

    <!-- Metrics -->
    <app-my-todo-list-metrics [todos]="allTodos"></app-my-todo-list-metrics>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-stretch">
      <app-my-todo-list-analytic-chart class="flex flex-col" [todos]="allTodos"></app-my-todo-list-analytic-chart>
      <app-my-todo-list-heatmap class="flex flex-col" [todos]="allTodos"></app-my-todo-list-heatmap>
    </div>

    <app-my-todo-list-timeline [todos]="allTodos"></app-my-todo-list-timeline>
    <app-my-todo-list-form (emitEvent)="refreshTodos()"></app-my-todo-list-form>

  </ng-container>

  <!-- SINGLE LIST RENDER (ALWAYS SAME COMPONENT INSTANCE) -->
  <app-my-todo-lists [sections]="sections" [startIndex]="startIndex" [endIndex]="endIndex" [total]="todosLength"
    [selectAll]="isSelectAllChecked()" (prev)="prevPage()" (next)="nextPage()" (toggleSelectAll)="onToggleSelectAll()"
    (bulkAction)="onBulkAction($event)" (quickAction)="onQuickAction($event)" (openTodo)="onOpenTodo($event)"
    (toggleTodo)="onToggleTodo($event)" (editTodo)="onEditTodo($event)" (deleteTodo)="onDeleteTodo($event)"
    [searchQuery]="searchQuery" [selectionMode]="selectionMode">
  </app-my-todo-lists>

</div>