<section class="bg-gray-950 rounded-md mx-auto flex items-center justify-center">
    <div class="flex items-center w-full">
        <a [routerLink]="['/home']">
            <img class="cursor-pointer w-full object-cover md:h-96 rounded-lg"
                src="../../../assets/landing/hero-bg-4.jpg">
        </a>
    </div>
    <div class="flex items-center">
        <div class="mx-auto">
            <h1 class="font-sans font-bold text-red-600 text-center uppercase md:text-xl text-md w-full">
                Welcome to Berliz
            </h1>
            <h6 class="text-sm md:text-md font-sans font-bold text-center text-gray-200 w-full">
                Be fit! Be you!
            </h6>
        </div>
    </div>
</section>