<section class="w-full h-full bg-gray-950 flex flex-col justify-center items-center">
    <a [routerLink]="['/home']" class="w-full h-full">
        <img src="../../../assets/landing/muscle-group-1.jpg" class="w-full h-full object-cover cursor-pointer"
            alt="Berliz background" />
    </a>

    <div class="absolute text-center">
        <h1 class="text-red-600 text-xl md:text-2xl font-bold uppercase font-sans"
            style="text-shadow: 2px 2px 4px black;">
            Welcome to Berliz
        </h1>
        <p class="text-gray-200 text-sm md:text-md font-bold font-sans">Your journey to fitness starts here</p>
    </div>
</section>