<div *ngIf="
    trainerIntroduction &&
    trainerPricing &&
    trainerBenefit &&
    trainerFeatureVideo &&
    trainerPhotoAlbum &&
    trainerVideoAlbum;
    else loading
">
    <app-trainer-introduction [trainerIntroduction]="trainerIntroduction"></app-trainer-introduction>
    <app-trainer-pricing [trainerPricing]="trainerPricing"></app-trainer-pricing>
    <app-trainer-benefits [trainerBenefit]="trainerBenefit"></app-trainer-benefits>
    <app-trainer-feature-videos [trainerFeatureVideos]="trainerFeatureVideo"></app-trainer-feature-videos>
    <!-- <app-trainer-photo-album [trainerPhotoAlbum]="trainerPhotoAlbum"></app-trainer-photo-album>
    <app-trainer-video-album [trainerVideoAlbum]="trainerVideoAlbum"></app-trainer-video-album>
    <app-trainer-clients></app-trainer-clients>
    <app-trainer-review></app-trainer-review>
    <app-trainer-testimonials></app-trainer-testimonials>
    <app-trainer-subscriptions></app-trainer-subscriptions>
    <app-trainer-like></app-trainer-like> -->
</div>

<ng-template #loading>
    <div class="flex flex-col items-center justify-center py-20 gap-3">
        <i-feather name="loader" class="text-gray-300 animate-spin" style="width:32px;height:32px;"></i-feather>
        <p class="text-xs text-gray-400 italic">Loading your trainer data...</p>
    </div>
</ng-template>