<div *ngIf="componentLoaded">
    <app-trainer-introduction [trainerIntroduction]="trainerIntroduction"></app-trainer-introduction>
    <app-trainer-pricing [trainerPricing]="trainerPricing"></app-trainer-pricing>
    <app-trainer-benefits [trainerBenefit]="trainerBenefit"></app-trainer-benefits>
    <app-trainer-feature-videos [trainerFeatureVideo]="trainerFeatureVideo"></app-trainer-feature-videos>
    <app-trainer-photo-album></app-trainer-photo-album>
    <app-trainer-video-album></app-trainer-video-album>
    <app-trainer-clients></app-trainer-clients>
    <app-trainer-review></app-trainer-review>
    <app-trainer-testimonials></app-trainer-testimonials>
    <app-trainer-subscriptions></app-trainer-subscriptions>
    <app-trainer-like></app-trainer-like>
</div>