<!-- Offer Card -->
<div
  class="h-full w-full max-w-xs bg-white/5 border border-gray-700 backdrop-blur-md text-white p-6 rounded-xl
         transition-transform transform hover:scale-105 hover:shadow-xl flex flex-col items-center justify-center text-center space-y-4">

  <!-- Icon -->
  <div>
    <i-feather [name]="offers.iconUrl" class="text-red-600" style="width: 32px; height: 32px;"></i-feather>
  </div>

  <!-- Title -->
  <h3 class="text-lg uppercase text-red-600">
    {{ offers.title }}
  </h3>

  <!-- Description -->
  <p class="text-sm text-white">
    {{ offers.description }}
  </p>
</div>
