<div class="w-full flex justify-between items-center cursor-pointer font-sans
transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl">
    <div class="items-center justify-items-center">
        <div class="max-w-[300px] min-h-[400px] lg:max-w-[250px] lg:min-h-[300px]  flex flex-col justify-center items-center bg-gray-100 rounded-md md:aspect-square mx-2">
            <div class="">
                <i-feather name="{{ offers.iconUrl}}"
                style="width: 30px; height: 30px;" >
            </i-feather>
            </div>
                <p class="p-2 text-center text-md font-bold lg:text-md text-red-600 text-transform: uppercase">
                 {{ offers.title }}
                </p>
                <p class="mt-1 text-sm  w-full text-center font-sans p-2">
                    {{ offers.description }}
                </p> 
            </div>
        </div>
</div>

