<div class="justify-center items-center p-5 overflow-x-scroll">
    <div class="min-w-[300px]">
        <table class="table-auto border-collapse border border-gray-400 bg-gray-300 text-gray-950 font-sans
                        container">
            <thead>
                <tr class="cursor-pointer">
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">SN</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">CV </th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Certificate</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Email</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">partnerId</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Status</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Actions</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Role</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partner of partnersData; let i = index" class="bg-gray-100 hover:bg-gray-200">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex justify-center">
                            <button
                                class="text-sm bg-red-600 text-white p-1 px-2 hover:bg-red-700 rounded-md font-sans mx-auto ml-4
                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openViewCV(partner.id)">view
                            </button>
                        </div>
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex justify-center">
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openViewCertificate(partner.id)">view
                            </button>
                        </div>
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ partner.user.email }}
                    </td>
                    <th class="border-b border-gray-400 px-4 py-2 font-bold">{{ partner.id }}</th>
                    <td class="border-b border-gray-400 px-4 py-2">{{ partner.status }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center p-2">
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openPartnerDetails(partner.id)">
                                <i-feather name="eye" class="text-gray-800"></i-feather>
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUpdatePartner(partner.id)">
                                <i-feather name="edit" class="text-red-600"></i-feather>
                            </button>
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                [ngClass]="{'bg-red-600 hover:bg-red-700': partner.status == 'true'}"
                                (click)="updatePartnerStatus(partner.id)">
                                {{ partner.status == 'false' ? 'activate' : 'deactivate'}}
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="deletePartner(partner.id)">
                                <i-feather name="trash-2" class="text-red-600"></i-feather>
                            </button>
                        </div>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ partner.role }}
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ formatDate(partner.date) }}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>