<div class="bg-gray-100 font-sans rounded-lg">
    <div class="flex items-center justify-center">
        <div class="bg-white p-6 mt-20 mb-10 lg-rounded">
            <form [formGroup]="updateTrainerForm">
                <header class="justify-start p-2 text-gray-950 font-bold font-sans">
                    <h1 class=" text-xl text-red-600">Trainer's Profile</h1>
                    <span class="text-md flex text-gray-700">
                        Date registered: {{ formatDate(trainer.date) }}
                    </span>
                </header>
                <div class="border-b-2"></div>
                <div class="invalid-form">
                    <span *ngIf="updateTrainerForm.invalid && invalidForm" class="mx-2 text-red-600">
                        Input fields cannot be empty
                    </span>
                    <span *ngIf="updateTrainerForm.valid && invalidForm" class="mx-2 text-gray-600">
                        Eerything's up to date
                    </span>
                </div>
                <div class="grid grid-cols-4 gap-1 flex items-center p-2">
                    <div class="mx-auto p-2 col-span-4 md:col-span-2 w-full">
                        <span class="sr-only">Display Name</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Display Name</span>
                        <input formControlName="name" [value]="trainer.name" [(ngModel)]="trainer.name"
                            class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateTrainerForm.get('name')?.invalid && updateTrainerForm.get('name')?.dirty }"
                            placeholder="Display name Team Berliz" type="text">
                        <div *ngIf="updateTrainerForm.get('name')?.invalid && updateTrainerForm.get('name')?.dirty"
                            class="text-red-500 mx-2">
                            Display name is required
                        </div>
                    </div>
                    <div class="mx-auto p-2 col-span-4 md:col-span-2 w-full">
                        <span class="sr-only">Expereince</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Expereince</span>
                        <input formControlName="experience" [value]="trainer.experience"
                            [(ngModel)]="trainer.experience"
                            class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateTrainerForm.get('experience')?.invalid && updateTrainerForm.get('experience')?.dirty }"
                            placeholder="experience" type="number">
                        <div *ngIf="updateTrainerForm.get('experience')?.invalid && updateTrainerForm.get('experience')?.dirty"
                            class="text-red-500 mx-2">
                            Expereince is required
                        </div>
                    </div>
                    <div class="mx-auto p-2 col-span-4" *ngIf="user?.role === 'admin'">
                        <span class="sr-only">Likes</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Likes</span>
                        <input formControlName="likes" [value]="trainer.likes" [(ngModel)]="trainer.likes"
                            class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                            [ngClass]="{'border-red-400': updateTrainerForm.get('likes')?.invalid && updateTrainerForm.get('likes')?.dirty }"
                            placeholder="likes" type="number" readonly>
                        <div *ngIf="updateTrainerForm.get('likes')?.invalid && updateTrainerForm.get('likes')?.dirty"
                            class="text-red-500 mx-2">
                            Expereince is required
                        </div>
                    </div>
                    <div class="mx-auto p-2 col-span-2 md:col-span-2 w-full">
                        <span class="sr-only">Motto</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Motto</span>
                        <textarea formControlName="motto" [value]="trainer.motto" [(ngModel)]="trainer.motto"
                            class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateTrainerForm.get('mtoo')?.invalid && updateTrainerForm.get('motto')?.dirty }"
                            placeholder="Write a short bio about discipline or motto" rows="5" cols="25"></textarea>
                        <div *ngIf="updateTrainerForm.get('motto')?.invalid && updateTrainerForm.get('motto')?.dirty"
                            class="text-red-500 mx-2">
                            At least 30 characters
                        </div>
                    </div>
                    <div class="mx-auto p-2 col-span-2 md:col-span-2 w-full">
                        <span class="sr-only">Address</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Address</span>
                        <textarea formControlName="address" [value]="trainer.address" [(ngModel)]="trainer.address"
                            class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateTrainerForm.get('address')?.invalid && updateTrainerForm.get('address')?.dirty }"
                            placeholder="Write your street address or location here" rows="5" cols="25"></textarea>
                        <div *ngIf="updateTrainerForm.get('address')?.invalid && updateTrainerForm.get('address')?.dirty"
                            class="text-red-500 mx-2">
                            At least 10 characters
                        </div>
                    </div>
                    <div *ngFor="let cat of categories; let i = index"
                        class="mx-auto flex items-center col-span-2 md:col-span-1">
                        <input formArrayName="categoryIds" (change)="onCheckboxChanged($event)"
                            [checked]="selectedCategoriesId.includes(cat.id)"
                            class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            placeholder="tags" type="checkbox" [value]="cat.id">
                        {{ cat.name }}
                        <div *ngIf="updateTrainerForm.get('categoryIds')?.invalid && invalidForm"
                            class="text-red-500 mx-2">
                            Select at least one category
                        </div>
                    </div>
                    <div class="col-span-4">
                        <button
                            class="bg-red-600 rounded-md mx-auto m-2 col-span-2 py-1 px-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                            type="submit" (click)="updateTrainer()">
                            save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>