<div class="relative min-h-screen flex">
    <app-sidebar-navigation (tagsResults)="handleSearchResults($event)" [searchComponent]="searchComponent"
        [isSearch]="isSearch"></app-sidebar-navigation>
    <div class="flex p-4 md:p-8 mt-4 full-width">
        <div class="width bg-gray-200 p-2 rounded-lg mt-20">
            <app-tag-header [tagsData]="tagsData" [totalTags]="totalTags" 
            [tagsLength]="tagsLength"></app-tag-header>
            <app-tag-list [tagsData]="tagsData"></app-tag-list>
        </div>
    </div>
</div>
<app-footer></app-footer>