<div class="justify-center items-center p-5 overflow-x-scroll">
    <div class="min-w-[300px]">
        <table class="table-auto border-collapse border border-gray-400 bg-gray-300 text-gray-950 font-sans
                        container">
            <thead>
                <tr class="cursor-pointer">
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">SN</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Cover photo </th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Name</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Likes</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Email</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Trainer id</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Actions</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Status</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trainer of trainersData; let i = index" class="bg-gray-100 hover:bg-gray-200">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <img [src]="'data:image;base64,' + trainer.photo " class="rounded-full"
                            onerror="this.src='../../../assets/icons/user.png';" style="width: 40px;">
                        <label for="fileInput-{{trainer.id}}" class="">
                            <i-feather name="Edit" class="font-bold text-red-600 mr-4 cursor-pointer"
                                style="width: 10px;">
                            </i-feather>
                        </label>
                        <input accept="image/*" type="file" id="fileInput-{{trainer.id}}" style="display: none;"
                            (change)="onImgSelected($event, trainer.id)">
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ trainer.name }}
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ trainer.likes }}
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        {{ trainer.partner.user.email }}
                    </td>
                    <th class="border-b border-gray-400 px-4 py-2 font-bold">{{ trainer.id }}</th>
                    <td class="border-b border-gray-400 px-4 py-2">{{ trainer.status }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center p-2">
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openTrainerDetails(trainer.id)">
                                <i-feather name="eye" class="text-gray-800"></i-feather>
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUpdateTrainer(trainer.id)">
                                <i-feather name="edit" class="text-red-600"></i-feather>
                            </button>
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                [ngClass]="{'bg-red-600 hover:bg-red-700': trainer.status == 'true'}"
                                (click)="updateTrainerStatus(trainer.id)">
                                {{ trainer.status == 'false' ? 'activate' : 'deactivate'}}
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="deleteTrainer(trainer.id)">
                                <i-feather name="trash-2" class="text-red-600"></i-feather>
                            </button>
                        </div>
                    <td class="border-b border-gray-400 px-4 py-2"> {{ formatDate(trainer.date) }}

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>