<div class="rounded-md mx-auto">
    <form [formGroup]="newsletterForm">
        <div class="text-red-600 text-right font-bold -mb-4 p-2">
            <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer ml-20"></i-feather>
        </div>
        <div class="grid grid-cols-1 font-sans p-4">

            <div class="flex justify-center text-red-600 text-xl uppercase">
                Update Newsletter
            </div>
            <div class=" w-full font-sans text-sm mt-2">
                Newsletter id: {{ newsletterData.id }}
            </div>
            <div *ngIf="!newsletterForm.invalid && newsletterForm.touched" class="flex text-gray-950">
                Everything looks good
            </div>
            <div *ngIf="newsletterForm.get('email')?.invalid && newsletterForm.get('email')?.dirty"
                class="text-red-600">
                invalid email
            </div>
            <div class="flex w-full mt-4">
                <input [value]="newsletterData.email"
                    class="container w-26 border border-red-400 hover:border-red-600 focus:border-red-600 focus:outline-none rounded-l-lg mt-1 p-2"
                    placeholder="example@gmail.com" type="email" formControlName="email">
                <button
                    class="text-md bg-red-600 text-white py-1 px-4 mt-1 hover:bg-red-800 rounded-r-lg font-sans whitespace-nowrap"
                    type="submit" (click)="updateNewsletter()">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>