<app-admin-search [selector]="selectCenterPricing" [fields]="centerPricingSearchFields"
    placeholder="Search center pricing..." (results)="handleSearchResults($event)"></app-admin-search>
<app-center-pricings-header [centerPricingData]="centerPricingData" [totalCenterPricing]="totalCenterPricing"
    [centerPricingLength]="centerPricingLength"></app-center-pricings-header>
<app-center-pricings-list [centerPricingData]="centerPricingData"
    [totalCenterPricing]="totalCenterPricing"></app-center-pricings-list>
