<ngx-ui-loader></ngx-ui-loader>
<div *ngIf="isTopbar()">
    <app-navigation-bar></app-navigation-bar>
    <router-outlet></router-outlet>
</div>
<div *ngIf="isLogin()">
    <router-outlet></router-outlet>
</div>
<div *ngIf="!isTopbar() && !isLogin()">
    <div class="relative min-h-screen flex">
        <app-sidebar-navigation></app-sidebar-navigation>
        <div class="flex p-4 full-width">
            <div class="width rounded-lg mt-20">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>