<section class="w-full mt-20 px-4 text-white">
    <div class="grid lg:grid-cols-2 gap-6 items-center max-w-6xl mx-auto">
        <div class="text-center lg:text-left space-y-4">
            <h2 class="text-3xl md:text-4xl text-red-600 font-extrabold uppercase font-sans">Welcome to Berliz</h2>
            <p class="text-md md:text-lg font-medium italic">...Unlock your full potential</p>
            <p class="text-sm md:text-base leading-relaxed">
                <strong class="text-xl">W</strong>e are revolutionizing the fitness industry by seamlessly
                connecting you to world-class facilities, expert trainers, and a supportive community — all within a
                tap. Berliz empowers you to take control of your health and fitness journey through our innovative and
                user-friendly platform.
            </p>
            <p class="text-sm md:text-base leading-relaxed">
                Whether you're a beginner or a seasoned athlete, our curated network of gyms, certified coaches, and
                engaged community ensures your goals are not only achievable but sustainable.
            </p>
            <p class="text-sm md:text-base leading-relaxed">
                Join Berliz today and experience a smarter, more connected way to achieve your fitness aspirations.
            </p>
            <button [routerLink]="['/sign-up']"
                class="bg-red-600 bg-white text-red-600 hover:text-white hover:bg-red-600 px-6 py-2 rounded-md font-semibold transition transform hover:scale-105">
                Join Now
            </button>
        </div>
        <div class="flex justify-center">
            <img src="../../../assets/landing/gym-cross.jpg" alt="Berliz Gym"
                class="w-[400px] lg:w-[500px] h-[400px] lg:h-[450px] object-cover rounded-md shadow-lg transform hover:scale-105 transition" />
        </div>
    </div>
</section>