<section class="w-full rounded-md cursor-pointer mt-20 mx-auto">
    <div class="grid lg:grid-cols-2 mx-auto">
        <p class="w-full text-center text-xl md:text-4xl font-sans font-bold text-red-600 uppercase sm:mb-3">
            Welcome to Berliz
        </p>
        <P class="w-full text-center font-sans text-sm md:text-md font-bold lg:text-md capitalize ">
            ....... Unlock Your Potentials
        </P>
        <div class="order-1 flex justify-center items-center mt-2 lg:mt-0">
            <img class="w-[400px] h-[400px] object-cover m-2 lg:w-[500px] lg:h-[450px] rounded-md mb-4 lg:mb-0
            transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                src="../../../assets/landing/gym-cross.jpg">
        </div>
        <div class="ml-5 order-1 grid grid-cols-1 text-justify items-center bg-gray-100 m-8 rounded-md mx-auto mr-5">
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                <span class="font-bold text-4xl">W</span>e are revolutionizing the fitness industry with our innovative platform.
                We take pride in seamlessly connecting you with a world of fitness possibilities that are just a tap
                away. With our user-friendly application, we make it simple for you to take control of
                your health and fitness goals.
            </p>
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                We are commited to delivering a comprehensive suite of services tailored to your unique needs. We have
                curated a wide network of gym clubs, ensuring that you have access to top-quality facilities that
                elevate your fitness experience. Our team of expert trainers is dedicated to supporting and guiding you
                as you work towards achieving your fitness goals. Moreover, our engaged community provides an invaluable
                source of support, motivation, and encouragement throughout your fitness journey.
            </p>
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                Join us at Berliz and experience the future of fitness. Discover the convenience, expertise, and
                community that set us apart in the industry. Together, we can achieve your health and fitness
                aspirations like never before.
            </p>
            <button class="text-sm font-sans bg-red-600 text-white py-1 mb-5 px-2 hover:bg-red-700 rounded-md mx-auto
                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl">
                Join Now
            </button>
        </div>
    </div>
</section>