<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-gray-950 font-sans font-bold text-xl mt-4">{{ partnerData.user.email }} [ID {{
                partnerData.id }}]</p>
            <p class="text-gray-500 font-sans font-bold text-sm italic">
                added at {{ formatDate(partnerData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div>
                    <div class="flex items-center justify-center bg-gray-200 rounded-lg">
                        <button
                            class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-red-700 rounded-md font-sans mx-auto ml-4
                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                            (click)="openUpdateFile()">
                            edit files
                        </button>
                        <button
                            class="text-sm bg-red-600 text-white p-1 px-2 hover:bg-red-700 rounded-md font-sans mx-auto ml-4
                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                            (click)="openViewCV()">open cv
                        </button>
                        <button class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                            (click)="openViewCertificate()">open certificate
                        </button>
                    </div>

                    <img [src]="'data:image;base64,' + partnerData.user.photo"
                        onerror="this.src='../../../assets/icons/user.png';" class="rounded-lg object-cover">


                </div>
                <div class="flex flex-col m-4 gap-2">
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        <button *ngIf="partnerData.status==='false'"
                            class="ml-2 px-2 p-1 text-sm text-gray-200 font-bold bg-red-600 rounded md"
                            (click)="rejectApplication(partnerData.id)"> reject application
                        </button>
                        <span class="ml-2 text-gray-950"> user id - {{
                            partnerData.user.id }}
                        </span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Motivation - {{ partnerData.motivation }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        <button class="ml-2 px-1 bg-red-600 text-gray-100 rounded md"
                            (click)="openUrl(partnerData.facebookUrl)"> facebook</button>
                        <button class="ml-2 px-1 bg-gray-950 text-gray-100 rounded md"
                            (click)="openUrl(partnerData.instagramUrl)"> instagram</button>
                        <button *ngIf="partnerData.youtubeUrl" class="ml-2 px-1 bg-red-600 text-gray-100 rounded md"
                            (click)="openUrl(partnerData.youtubeUrl)">youtube
                        </button>
                        <button *ngIf="!partnerData.youtubeUrl" class="ml-2 px-1 bg-red-600 text-gray-100 rounded md">
                            null</button>

                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        Partner status: {{ partnerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(partnerData.lastUpdate) }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Role: {{ partnerData.role }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>