<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="grid md:grid-cols-2 grid-cols w-full rounded-md">
        <div class="p-2">
            <div class="flex justify-center p-2">
                <i-feather name="Edit" (click)="openUpdateFile()" class="font-bold text-red-600 mr-4  cursor-pointer"
                    style="width: 30px;">
                </i-feather>
            </div>
            <div *ngIf="partnerData.cv">
                <p class="text-gray-950 font-sans font-bold text-md flex">CV</p>
                <ngx-extended-pdf-viewer [src]="partnerData.cv" onerror="this.src='../../../assets/icons/file.png';"
                    [textLayer]="true">
                </ngx-extended-pdf-viewer>
            </div>
            <div *ngIf="partnerData.certificate">
                <p class="text-gray-950 font-sans font-bold text-md flex">Certificate</p>
                <ngx-extended-pdf-viewer [src]="partnerData.certificate"
                    onerror="this.src='../../../assets/icons/file.png';" [textLayer]="true">
                </ngx-extended-pdf-viewer>
            </div>
        </div>
        <div class="bg-gray-200 md:rounded-r-md rounded-b-md p-8">
            <button *ngIf="partnerData.status==='false'"
                class="ml-2 -mt-2 px-1 py-1 text-sm text-gray-200 font-bold bg-red-600 rounded md"
                (click)="rejectApplication(partnerData.id)"> reject application
            </button>
            <p class="text-red-600 font-sans font-bold text-md italic mb-4 mt-2">{{ partnerData.user.email }}</p>
            <p class="text-gray-950 font-bold font-sans font-bold text-md uppercase">User ID: {{ partnerData.user.id }}
            <div class="flex items-center">
                <div class="flex flex-col m-8 gap-5">
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Date registered: {{ formatDate(partnerData.date) }}
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Motivation: {{ partnerData.motivation }}
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Facebook link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.facebookUrl)"> facebook</button>
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Instagram link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.instagramUrl)"> instagram</button>
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Youtube link: <button *ngIf="partnerData.youtubeUrl"
                            class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.youtubeUrl)">youtube
                        </button>
                        <button *ngIf="!partnerData.youtubeUrl" class="ml-2 px-1 bg-red-600 text-gray-200 rounded md">
                            null</button>
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Role: {{ partnerData.role }}
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Application status: {{ partnerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-gray-950 font-sans font-bold text-md flex">
                        Last Update: {{ formatDate(partnerData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>