<form [formGroup]="form" class="space-y-4 text-black">

  <!-- Country -->
  <ng-select formControlName="country" [items]="countries" bindLabel="name" bindValue="code"
             placeholder="Select Country" [clearable]="false" class="w-full rounded-md border focus:outline-none">
    <ng-template ng-option-tmp let-item="item">
      <img [src]="item.flag" class="inline w-6 h-4 mr-2 rounded-sm" /> {{ item.name }}
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <img [src]="item.flag" class="inline w-6 h-4 mr-2 rounded-sm" /> {{ item.name }}
    </ng-template>
  </ng-select>

  <!-- State -->
  <ng-select formControlName="state" [items]="states" placeholder="Select State / Province"
             [clearable]="false" [addTag]="addState" (click)="onStateClick()"
             class="w-full rounded-md border focus:outline-none"></ng-select>

  <!-- City -->
  <ng-select formControlName="city" [items]="cities" placeholder="Select City"
             [clearable]="false" [addTag]="addCity" (click)="onCityClick()"
             class="w-full rounded-md border focus:outline-none"></ng-select>

  <!-- Address -->
  <input formControlName="address" type="text" placeholder="123 Main St, Suite 400"
         class="w-full px-4 h-[42px] rounded-md border focus:outline-none"
         [ngClass]="{'border-red-500': !isAddressValid() && form.get('address')?.value}" />

  <!-- Postal Code -->
  <input formControlName="postalCode" type="text" placeholder="90210 / K1A 0B1"
         class="w-full px-4 h-[42px] rounded-md border focus:outline-none"
         [ngClass]="{'border-red-500': !isPostalCodeValid() && form.get('postalCode')?.value}" />

  <!-- Country Code -->
  <ng-select formControlName="countryCode" [items]="countries" bindValue="dialCode"
             placeholder="Country Code" [clearable]="false" class="w-full rounded-md border focus:outline-none">
    <ng-template ng-option-tmp let-item="item">
      <img [src]="item.flag" class="inline w-6 h-4 mr-2 rounded-sm" /> ({{item.name}}) {{item.dialCode}}
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <img [src]="item.flag" class="inline w-6 h-4 mr-2 rounded-sm" /> ({{item.name}}) {{item.dialCode}}
    </ng-template>
  </ng-select>

  <!-- Phone -->
  <input formControlName="phone" type="text" placeholder="{{examplePhone}}"
         class="w-full px-4 h-[42px] rounded-md border focus:outline-none"
         [ngClass]="{'border-red-500': !isPhoneValid() && form.get('phone')?.value}" />

</form>
