// ng-select styling to match Berliz theme

::ng-deep .ng-select {
    font-size: 1rem;
    background-color: white;
    border: 1px solid #d1d5db; // gray-300
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    color: #111827; // gray-900
}


::ng-deep .ng-select .ng-select-container {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

::ng-deep .ng-dropdown-panel {
    background-color: white;
    z-index: 1050;
    border: 1px solid #d1d5db; // gray-300
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

::ng-deep .ng-option {
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
    color: #111827;
    background-color: white;
}

::ng-deep .ng-option:hover {
    background-color: #fee2e2; // red-100
    border-radius: 0.25rem;
    color: #000;
}

::ng-deep .ng-option-selected {
    background-color: #dc2626; // red-600
    color: white;
    border-radius: 0.25rem;
}

::ng-deep .ng-select .ng-arrow-wrapper {
    color: #000;
}