<div class="relative min-h-screen flex">
    <app-sidebar-navigation (trainersResults)="handleSearchResults($event)"
        [searchComponent]="searchComponent"></app-sidebar-navigation>
        <div class="flex p-10 full-width">
            <div class="width bg-gray-200 p-4 rounded-lg mt-20">
                <app-trainer-header [trainersData]="trainersData" [totalTrainers]="totalTrainers"
                    [trainersLength]="trainersLength"></app-trainer-header>
                <app-trainer-list [trainersData]="trainersData"
                    [totalTrainers]="totalTrainers"></app-trainer-list>
            </div>
        </div>
</div>
<app-footer></app-footer>