<div class="mt-10" *ngIf="!partnerData">No application yet</div>
<div *ngIf="partnerData">
    <div class="justify-between mt-20 font-sans flex flex-col justify-center items-center">
        <div *ngIf="user" class=" font sans text-4xl mb-2 text-center">
            Hello {{ user.firstname }} {{ user.lastname }}
        </div>
        <div *ngIf="partnerData.status ==='false'" class="flex flex-col justify-center items-center">
            <div class="text-gray-600 font-sans italic m-1">Here is the details of your current partnership application
            </div>
            <div class="text-gray-600 font-sans italic m-1">Your application is currently ongoing review</div>
            <button class="text-md bg-red-600 text-white py-2 mb-5 px-5 hover:bg-red-700 rounded-md font-sans mx-auto
    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                (click)="openUpdatePartner()">
                update application information
            </button>
        </div>
        <div *ngIf="partnerData.status ==='true'" class="flex flex-col justify-center items-center">
            <div class="text-gray-600 font-sans italic m-1">Here is the details of your current partnership application
            </div>
            <div class="text-gray-600 font-sans italic m-1">Your application has been successfully approved</div>
            <button class="text-md bg-red-600 text-white py-2 mb-5 px-5 hover:bg-red-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                (click)="openApplicagtionForm()">
                Complete {{partnerData.role }} application
            </button>
        </div>
    </div>
    <section class="grid md:grid-cols-2 grid-cols w-full rounded-md mt-20">
        <div class="p-2">
            <div class="flex justify-start p-2" (click)="openUpdateFile()">
                <i-feather name="Edit" class="font-bold text-red-600 mr-4  cursor-pointer" style="width: 30px;">
                </i-feather>
            </div>
            <div *ngIf="partnerData.cv" class="flex justify-center">
                <button class="text-md bg-gray-600 text-white py-2 mb-5 px-5 hover:bg-gray-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                    (click)="openViewCV()">
                    View CV file
                </button>
            </div>
            <div *ngIf="partnerData.certificate"  class="flex justify-center">
                <button class="text-md bg-gray-800 text-white py-2 mb-5 px-5 hover:bg-gray-900 rounded-md font-sans mx-auto
                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                    (click)="openViewCertificate()">
                    View Certificate file
                </button>
            </div>
        </div>
        <div class="bg-gray-950 md:rounded-r-md rounded-b-md p-8">
            <p class="text-red-600 font-sans font-bold text-md italic mb-4">{{ partnerData.user.email }}</p>
            <div class="flex items-center">
                <div class="flex flex-col m-8 gap-5 font-sans text-gray-200 font-bold">
                    <p class="font-sans  text-md flex">
                        Date registered: {{ formatDate(partnerData.date) }}
                    </p>
                    <p class="font-sans text-md flex">
                        Motivation: {{ partnerData.motivation }}
                    </p>
                    <p class="font-sans  text-md flex">
                        Facebook link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.facebookUrl)"> facebook</button>
                    </p>
                    <p class="font-sans  text-md flex">
                        Instagram link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.instagramUrl)"> instagram</button>
                    </p>
                    <p class="font-sans text-md flex">
                        Youtube link: <button *ngIf="partnerData.youtubeUrl"
                            class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.youtubeUrl)">youtube
                        </button>
                        <button *ngIf="!partnerData.youtubeUrl" class="ml-2 px-1 bg-red-600 text-gray-200 rounded md">
                            null</button>
                    </p>
                    <p class="font-sans text-md flex">
                        Role: {{ partnerData.role }}
                    </p>
                    <p class="font-sans text-md flex">
                        Application status: {{ partnerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Last Update: {{ formatDate(partnerData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div *ngIf="trainerData" class="hidden">
    <div class="justify-between mt-20 font-sans flex flex-col justify-center items-center">
        <div *ngIf="user" class=" font sans text-4xl mb-2 text-center">
            Hello {{ user.firstname }} {{ user.lastname }}
        </div>
        <div *ngIf="trainerData.status ==='false'" class="flex flex-col justify-center items-center">
            <div class="text-gray-600 font-sans italic m-1">Your Trainer account has been successfully created
            </div>
            <div class="text-gray-600 font-sans italic m-1">Your application would be approved soon by an admin</div>
            <button class="text-md bg-red-600 text-white py-2 mb-5 px-5 hover:bg-red-700 rounded-md font-sans mx-auto
    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                (click)="openUpdateTrainer()">
                update application information
            </button>
        </div>
        <div *ngIf="trainerData.status ==='true'" class="flex flex-col justify-center items-center">
            <div class="text-gray-600 font-sans italic m-1">Here is the details of your current partnership application
            </div>
            <div class="text-gray-600 font-sans italic m-1">Your application has been successfully approved</div>
            <button class="text-md bg-red-600 text-white py-2 mb-5 px-5 hover:bg-red-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                (click)="openUpdateTrainer()">
                update application information
            </button>
        </div>
    </div>
    <section class="grid md:grid-cols-2 grid-cols w-full rounded-md mt-20">
        <div class="p-2">
            <div class="shrink-0">
                <img [src]="profilePhoto" class="object-cover rounded-full"
                    onerror="this.src='../../../assets/icons/user.png';">
            </div>
            <div class="flex justify-end p-2" (click)="openUpdateFile()">
                <i-feather name="Edit" class="font-bold text-red-600 mr-4  cursor-pointer" style="width: 30px;">
                </i-feather>
            </div>
        </div>
        <div class="bg-gray-200 md:rounded-r-md rounded-b-md p-8">
            <p class="text-red-600 font-sans font-bold text-md italic mb-4">{{ partnerData.user.email }}</p>
            <div class="flex items-center">
                <div class="flex flex-col m-8 gap-5 font-sans">
                    <p class="text-gray-950 font-sans  text-md flex">
                        Date registered: {{ formatDate(partnerData.date) }}
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Motivation: {{ partnerData.motivation }}
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Facebook link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.facebookUrl)"> facebook</button>
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Instagram link: <button class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.instagramUrl)"> instagram</button>
                    </p>
                    <p class="text-gray-950 font-sans text-md flex">
                        Youtube link: <button *ngIf="partnerData.youtubeUrl"
                            class="ml-2 px-1 bg-red-600 text-gray-200 rounded md"
                            (click)="openUrl(partnerData.youtubeUrl)">youtube
                        </button>
                        <button *ngIf="!partnerData.youtubeUrl" class="ml-2 px-1 bg-red-600 text-gray-200 rounded md">
                            null</button>
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Role: {{ partnerData.role }}
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Application status: {{ partnerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-gray-950 font-sans  text-md flex">
                        Last Update: {{ formatDate(partnerData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>