<section class="py-12 px-4 sm:px-8 rounded-md shadow-lg text-white"
    style="background: linear-gradient(to bottom, black, rgb(27, 25, 25), rgb(45, 23, 23), rgb(27, 25, 25), black);">
    <h2 class="text-white text-4xl font-extrabold text-center mb-16 font-sans uppercase tracking-wide">
        Berliz <span class="text-red-600">Spot</span>light
    </h2>

     <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 place-items-center">
    <app-promotions *ngFor="let promotion of promotionsList" [promotions]="promotion">
    </app-promotions>
  </div>
</section>