<div class="text-red-600 absolute top-0 right-0 p-1">
    <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
</div>
<div class="p-4">
    <form [formGroup]="forgotPasswordForm">
        <div class="grid grid-cols-1 mt-2">
            <input formControlName="email"
                class="border-b-2 border-gray-500 w-full hover:border-gray-700 focus:border-gray-800 focus:outline-none"
                [ngClass]="{'border-red-600': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched
            && forgotPasswordForm.invalid}" placeholder="Please input your email here" type="text">
            <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.dirty"
                class="text-red-600 mx-2">
                Email is invalid
            </div>
        </div>
        <div class="mt-4 flex justify-center">
            <button class="bg-red-600 p-2 px-2 rounded-md font-bold font-sans text-white text-sm" type="submit"
                (click)="submitForm()">
                Send email
            </button>
        </div>
    </form>
</div>