<div class="justify-center items-center p-5 overflow-x-scroll">
    <div class="min-w-[300px]">
        <table class="table-auto border-collapse border border-gray-400 bg-gray-300 text-gray-950 font-sans
                        container">
            <thead>
                <tr class="cursor-pointer">
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">SN</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Demo</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Name</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Status</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Date</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">ID</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Actions</th>
                    <th class="border border-gray-400 px-4 py-2 hover:bg-gray-400">Last update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exercise of exercisesData; let i = index" class="bg-gray-100 hover:bg-gray-200">
                    <td class="border-b border-gray-400 px-4 py-2">{{ i + 1 }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <video [src]="'data:video/mp4;base64,' + exercise.demo" class="rounded-full"
                            onerror="this.src='../../../assets/icons/user.png';" autoplay [muted]="true" loop style="width: 40px;">
                        </video>
                        <label for="fileInput-{{exercise.id}}" class="">
                            <i-feather name="Edit" class="font-bold text-red-600 mr-4 cursor-pointer"
                                style="width: 10px;">
                            </i-feather>
                        </label>
                        <input accept="video/*" type="file" id="fileInput-{{exercise.id}}" style="display: none;"
                            (change)="onVideoSelected($event, exercise.id)">
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ exercise.name }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ exercise.status }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ formatDate(exercise.date) }}</td>
                    <td class="border-b border-gray-400 px-4 py-2 font-bold">{{ exercise.id }}</td>
                    <td class="border-b border-gray-400 px-4 py-2">
                        <div class="flex items-center p-2">
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                    transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openExerciseDetails(exercise.id)">
                                <i-feather name="eye" class="text-gray-800"></i-feather>
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="openUpdateExercise(exercise.id)">
                                <i-feather name="edit" class="text-red-600"></i-feather>
                            </button>
                            <button
                                class="text-sm bg-gray-950 text-white p-1 px-2 hover:bg-gray-1000 rounded-md font-sans mx-auto ml-4
                                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                [ngClass]="{'bg-red-600 hover:bg-red-700': exercise.status == 'true'}"
                                (click)="updateExerciseStatus(exercise.id)">
                                {{ exercise.status == 'false' ? 'activate' : 'deactivate'}}
                            </button>
                            <button
                                class="text-sm rounded-md font-sans mx-auto ml-4
                                        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl font-bold"
                                (click)="deleteExercise(exercise.id)">
                                <i-feather name="trash-2" class="text-red-600"></i-feather>
                            </button>
                        </div>
                    </td>
                    <td class="border-b border-gray-400 px-4 py-2">{{ formatDate(exercise.lastUpdate) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>