<div class="relative p-2">
    <div class="text-red-600 absolute top-0 right-0 p-5">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="text-gray-950">
        <form [formGroup]="updateCategoryForm">
            <header class="font-bold font-sans text-center m-2">
                <h1 class=" text-xl">Update Category</h1>
                <p class="text-red-600 italic text-sm">ID: {{ categoryData.id }}
                </p>
            </header>
            <div class="invalid-form">
                <span *ngIf="!(updateCategoryForm.get('name')?.invalid ||
                        updateCategoryForm.get('likes')?.invalid ||
                        updateCategoryForm.get('description')?.invalid ||
                        updateCategoryForm.get('photo')?.invalid ||
                        updateCategoryForm.get('tagIds')?.invalid)
                         && invalidForm" class="mx-2 text-gray-200">
                    Everything looks good
                </span>
                <span *ngIf="(updateCategoryForm.get('name')?.invalid ||
                updateCategoryForm.get('likes')?.invalid ||
                updateCategoryForm.get('description')?.invalid ||
                updateCategoryForm.get('photo')?.invalid ||
                updateCategoryForm.get('tagIds')?.invalid)
                 && invalidForm" class="mx-2 text-red-500">
                    Please complete all sessions
                </span>
            </div>
            <div class="grid grid-cols md:grid-cols-2 rounded-lg p-2 gap-2">
                <div class="rounded-lg object-cover">
                    <img [src]="'../../../../../assets/icons/'+ categoryData.photo + '.png'" class="rounded-lg">
                    <div class="grid grid-cols-2 md:grid-cols-4 p-1 gap-2">
                        <div *ngFor="let tag of tags; let i = index" class="">
                            <input formArrayName="tagIds" (change)="onCheckboxChanged($event)"
                                [checked]="selectedTagsId.includes(tag.id)"
                                class="w-full border-b-2 px-4 py-2 rounded-md m-2 text-gray-950 focus:outline-none border-gray-400 hover:border-gray-500"
                                placeholder="Tags" type="checkbox" [value]="tag.id">
                            {{ tag.name }}
                            <div *ngIf="updateCategoryForm.get('tagIds')?.invalid && invalidForm"
                                class="text-red-500 mx-2">
                                Select at least one tag
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-200 gap-6 rounded-lg">
                    <div class="mx-auto w-full p-2 mr-2">
                        <span class="text-gray-700 font-bold italic"> Category Name</span>
                        <input formControlName="name" [value]="categoryData.name"
                            class="w-full p-2  bg-gray-100 rounded-lg focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateCategoryForm.get('name')?.invalid && updateCategoryForm.get('name')?.touched }"
                            placeholder="Category Name" type="text">
                        <div *ngIf="updateCategoryForm.get('name')?.invalid && updateCategoryForm.get('name')?.dirty"
                            class="text-red-500 mx-2">
                            Category Name is required
                        </div>
                    </div>
                    <div class="mx-auto w-full p-2 mr-2">
                        <span class="text-gray-700 font-bold italic"> Likes</span>
                        <input formControlName="likes" [value]="categoryData.likes"
                            class="w-full p-2  rounded-lg bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateCategoryForm.get('likes')?.invalid && updateCategoryForm.get('likes')?.touched }"
                            placeholder="Likes" type="number" min="0">
                        <div *ngIf="updateCategoryForm.get('likes')?.invalid && updateCategoryForm.get('likes')?.dirty"
                            class="text-red-500 mx-2">
                            Check the number of likes
                        </div>
                    </div>
                    <div class="mx-auto w-full p-2 mr-2">
                        <span class="text-gray-700 font-bold italic"> Description</span>
                        <textarea formControlName="description" [value]="categoryData.description"
                            class="w-full p-2 rounded-lg bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateCategoryForm.get('description')?.invalid && updateCategoryForm.get('description')?.touched }"
                            placeholder="Description" rows="5" cols="30"></textarea>
                        <div *ngIf="updateCategoryForm.get('description')?.invalid && updateCategoryForm.get('description')?.dirty"
                            class="text-red-500 mx-2">
                            Description is required
                        </div>
                    </div>
                    <div class="mx-auto w-full p-2 mr-2">
                        <span class="text-gray-700 font-bold italic">Icon</span>
                        <select formControlName="photo" class="w-full" [(ngModel)]="categoryData.photo"
                            class="w-full p-2 rounded-lg bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                            [ngClass]="{'border-red-400': updateCategoryForm.get('photo')?.invalid && updateCategoryForm.get('photo')?.touched }"
                            placeholder="Icon Name" type="text">
                            <option selected hidden class="font-sans">{{ categoryData.photo }}</option>
                            <option *ngFor="let photo of icons">{{ photo.name }}</option>
                        </select>
                        <div *ngIf="updateCategoryForm.get('photo')?.invalid && updateCategoryForm.get('photo')?.touched"
                            class="text-red-500 mx-2">
                            Select an icon name
                        </div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="bg-gray-950 rounded-md mx-auto m-2">
                            <button type="button"
                                class="font-bold font-sans py-1 px-2 text-white text-sm lg:text-md flex items-center justify-center"
                                (click)="clear()">
                                Clear
                            </button>
                        </div>
                        <div class="bg-red-600 rounded-md mx-auto m-2">
                            <button type="submit"
                                class="font-bold font-sans py-1 px-2 text-white text-sm lg:text-md flex items-center justify-center"
                                (click)="updateCategory()">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>