<section class="font-sans flex flex-col gap-4 mt-4">

    <app-my-subscriptions-empty></app-my-subscriptions-empty>

    <app-my-subscriptions-analytics [subscriptions]="subscriptionsList">
    </app-my-subscriptions-analytics>

    <app-my-subscriptions-list [subscriptions]="subscriptionsList" (refresh)="handleRefresh()">
    </app-my-subscriptions-list>

    <app-my-subscriptions-plans></app-my-subscriptions-plans>

    <app-my-subscriptions-timeline [subscriptions]="subscriptionsList">
    </app-my-subscriptions-timeline>

</section>