<section class="w-full rounded-md cursor-pointer mt-20 mx-auto">
    <div class="grid lg:grid-cols-2 mx-auto">
        <p class="w-full text-center text-4xl font-sans font-bold text-red-600 text-transform: uppercase sm:mb-3">
            Our Vision
        </p>
        <P class="w-full text-center text-md font-sans font-bold lg:text-md text-transform: uppercase ">
            .......
        </P>
        <div class="ml-5 order-2 lg:order-1 grid grid-cols-1 text-justify items-center bg-gray-100 m-8 rounded-md mx-auto mr-5">
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                <span class="font-bold text-4xl">B</span>erliz have a clear vision for the future of fitness we and are
                determined to bring about a positive change. Our goal is to revolutionize how you approach your health
                and fitness journey. By seamlessly connecting you with top-tier fitness facilities, expert trainers, and
                a supportive community, we are here to empower you to achieve your best.
            </p>
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                With Berliz, you can expect a user-friendly platform that allows you to easily find the best fitness
                options in your area, connect with knowledgeable trainers, and engage with experienced dietitians. We're
                committed to creating a comprehensive suite of services that prioritizes your convenience and
                personalization.
            </p>
            <p class="text-sm w-100 font-sans mx-5 mb-5 lg:mb-0">
                Join us at Berliz and experience the future of fitness. Discover the convenience, expertise, and
                supportive community that would transform your life. Together, let's achieve your health and fitness aspirations
                like never before.
            </p>
            <button class="text-sm bg-red-600 text-white py-2 mb-5 px-5 mt-3 hover:bg-red-700 rounded-md font-sans mx-auto
                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl">
                Join Now
            </button>
        </div>
        <div class="order-1 flex justify-center items-center mt-2 lg:mt-0">
            <img class="w-[400px] h-[400px] object-cover m-2 lg:w-[500px] lg:h-[450px] rounded-md mb-4 lg:mb-0
            transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                src="../../../assets/landing/about-mission.jpg">
        </div>
    </div>
</section>