<section class="w-full mt-20 px-4 text-white">
  <div class="grid lg:grid-cols-2 gap-6 items-center max-w-6xl mx-auto">
    <div class="space-y-4">
      <h2 class="text-3xl md:text-4xl font-extrabold text-red-600 uppercase font-sans text-center lg:text-left">Our Vision</h2>
      <p class="text-sm md:text-base leading-relaxed">
        <strong class="text-xl">B</strong>erliz envisions a future where health and fitness are seamlessly integrated into everyone’s lifestyle — regardless of background, ability, or location.
      </p>
      <p class="text-sm md:text-base leading-relaxed">
        Our vision is to create a digital-first platform that bridges the gap between ambition and achievement, using innovation, education, and community to redefine success in wellness.
      </p>
      <p class="text-sm md:text-base leading-relaxed">
        We are building a future where fitness is not just a goal — it’s a lifestyle accessible to all.
      </p>
      <button [routerLink]="['/sign-up']"
      class="bg-white text-red-600 hover:text-white hover:bg-red-600 px-6 py-2 rounded-md font-semibold transition transform hover:scale-105">
        Join Now
      </button>
    </div>
    <div class="flex justify-center">
      <img src="../../../assets/landing/about-mission.jpg" alt="Berliz Vision"
        class="w-[400px] lg:w-[500px] h-[400px] lg:h-[450px] object-cover rounded-md shadow-lg transform hover:scale-105 transition" />
    </div>
  </div>
</section>
