<div class="rounded-md mx-auto">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <form [formGroup]="updateUserForm">
        <header class="text-center m-2 font-bold font-sans">
            <h1 class="text-gray-950 text-xl">Update account information</h1>
            <p class="text-red-600 italic text-sm">user id - {{ userData.id }}
            </p>
        </header>
        <div class="grid grid-cols md:grid-cols-2 rounded-lg p-2 gap-2">
            <div class="flex">
                <img [src]="'data:image;base64, ' + userData.profilePhoto" class="rounded-lg"
                    onerror="this.src='../../../assets/icons/user.png';">
            </div>
            <div class="bg-gray-200 gap-6 rounded-lg">
                <div class="text-gray-950" *ngIf="formIndex === 0" [ngClass]="{'border-red-400':
          (updateUserForm.get('firstname')?.invalid ||
                updateUserForm.get('lastname')?.invalid ||
                updateUserForm.get('phone')?.invalid ||
                updateUserForm.get('dob')?.invalid ||
                updateUserForm.get('gender')?.invalid) && invalidForm }">
                    <hr [ngClass]="{'border-red-500':  (updateUserForm.get('firstname')?.invalid ||
                updateUserForm.get('lastname')?.invalid ||
                updateUserForm.get('phone')?.invalid ||
                updateUserForm.get('dob')?.invalid ||
                updateUserForm.get('gender')?.invalid) && invalidForm }">
                    <div class="invalid-form">
                        <span *ngIf="!(updateUserForm.get('firstname')?.invalid ||
                    updateUserForm.get('lastname')?.invalid ||
                    updateUserForm.get('phone')?.invalid ||
                    updateUserForm.get('dob')?.invalid ||
                    updateUserForm.get('gender')?.invalid) && invalidForm" class="mx-2 text-gray-400">
                            Everything looks good
                        </span>
                        <span *ngIf="(updateUserForm.get('firstname')?.invalid ||
                    updateUserForm.get('lastname')?.invalid ||
                    updateUserForm.get('phone')?.invalid ||
                    updateUserForm.get('dob')?.invalid ||
                    updateUserForm.get('gender')?.invalid) && invalidForm" class="text-red-500 mx-2">
                            Please complete this section
                        </span>
                        <div class="mx-auto p-2">
                            <span class="sr-only">User ID</span>
                            <span class="ml-4 font-bold text-gray-600 italic" hidden>First Name</span>
                            <input formControlName="id" [value]="userData?.id" readonly hidden
                                class="w-full border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                                [ngClass]="{'border-red-400': updateUserForm.get('id')?.invalid && updateUserForm.get('id')?.touched }"
                                placeholder="user id" type="number">
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">First Name</span>
                            <span class="ml-4 font-bold text-gray-600 italic">First Name</span>
                            <input formControlName="firstname" [value]="userData?.firstname"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': updateUserForm.get('firstname')?.invalid && updateUserForm.get('firstname')?.touched }"
                                placeholder="First Name" type="text">
                            <div *ngIf="updateUserForm.get('firstname')?.invalid && updateUserForm.get('firstname')?.dirty"
                                class="text-red-500 mx-2">
                                First Name is required
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Last Name</span>
                            <span class="ml-4 font-bold text-gray-600 italic">Last Name</span>
                            <input formControlName="lastname" [value]="userData?.lastname"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': updateUserForm.get('lastname')?.invalid && updateUserForm.get('lastname')?.touched }"
                                placeholder="Last Name" type="text">
                            <div *ngIf="updateUserForm.get('lastname')?.invalid && updateUserForm.get('lastname')?.dirty"
                                class="text-red-500 mx-2">
                                Last Name is required
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">Phone</span>
                            <span class="ml-4 font-bold text-gray-600 italic">Phone</span>
                            <input formControlName="phone" [value]="userData?.phone"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': updateUserForm.get('phone')?.invalid && updateUserForm.get('phone')?.touched }"
                                placeholder="+123 000 000 000" type="tel">
                            <div *ngIf="updateUserForm.get('phone')?.invalid && updateUserForm.get('phone')?.dirty"
                                class="text-red-500 mx-2">
                                must be at least 8 characters
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="sr-only">DOB</span>
                            <span class="ml-4 font-bold text-gray-600 italic">DOB</span>
                            <input formControlName="dob" [value]="userData?.dob"
                                class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                                [ngClass]="{'border-red-400': updateUserForm.get('dob')?.invalid && updateUserForm.get('dob')?.touched }"
                                placeholder="date of birth" type="date">
                            <div *ngIf="updateUserForm.get('dob')?.invalid && updateUserForm.get('dob')?.dirty"
                                class="text-red-500 mx-2">
                                Please select your birth date
                            </div>
                        </div>
                        <div class="mx-auto p-2">
                            <span class="ml-4 font-bold text-gray-600 italic">Gender</span>
                            <div class="grid grid-cols-2 gap-5">
                                <div>
                                    <span class="sr-only">Male</span>
                                    <span class="ml-4 font-bold text-gray-700">Male</span>
                                    <input formControlName="gender" [value]="'Male'"
                                        class="w-3 lg:w-full border-2 px-4 py-2 rounded-md m-2 col-span-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                                        [ngClass]="{'border-red-400': updateUserForm.get('gender')?.invalid && updateUserForm.get('gender')?.touched }"
                                        placeholder="Male" type="radio" [checked]="userData?.gender === 'Male'">
                                </div>
                                <div>
                                    <span class="sr-only">Female</span>
                                    <span class="ml-4 font-bold text-gray-700">Female</span>
                                    <input formControlName="gender" [value]="'Female'"
                                        class="w-3 lg:w-full border-2 px-4 py-2 rounded-md m-2 col-span-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none"
                                        [ngClass]="{'border-red-400': updateUserForm.get('gender')?.invalid && updateUserForm.get('gender')?.touched }"
                                        placeholder="Female" type="radio" [checked]="userData?.gender === 'Female'">
                                </div>
                            </div>
                            <div *ngIf="updateUserForm.get('gender')?.invalid && updateUserForm.get('gender')?.dirty"
                                class="text-red-500 mx-2">
                                Please select a gender
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                <button
                                    class="bg-gray-950 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    (click)="clear()">
                                    Clear
                                </button>
                            </div>
                            <div>
                                <button
                                    class="bg-red-600 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                    type="submit" (click)="toggleIndex(+1)">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-gray-950" *ngIf="formIndex === 1" [ngClass]="{'border-red-400': (updateUserForm.get('country')?.invalid ||
            updateUserForm.get('state')?.invalid ||
            updateUserForm.get('city')?.invalid ||
            updateUserForm.get('address')?.invalid ||
            updateUserForm.get('postalCode')?.invalid) && invalidForm }">
                    <hr [ngClass]="{'border-red-500':  (updateUserForm.get('country')?.invalid ||
                updateUserForm.get('state')?.invalid ||
                updateUserForm.get('city')?.invalid ||
                updateUserForm.get('address')?.invalid ||
                updateUserForm.get('postalCode')?.invalid) && invalidForm }">
                    <div class="invalid-form">
                        <span *ngIf="!(updateUserForm.get('country')?.invalid ||
                    updateUserForm.get('state')?.invalid ||
                    updateUserForm.get('city')?.invalid ||
                    updateUserForm.get('address')?.invalid ||
                    updateUserForm.get('postalCode')?.invalid) && invalidForm" class="mx-2 text-gray-400">
                            Everything looks good
                        </span>
                        <span *ngIf="(updateUserForm.get('country')?.invalid ||
                    updateUserForm.get('state')?.invalid ||
                    updateUserForm.get('city')?.invalid ||
                    updateUserForm.get('address')?.invalid ||
                    updateUserForm.get('postalCode')?.invalid) && invalidForm" class="text-red-500 mx-2">
                            Please complete this section
                        </span>
                    </div>
                    <div class="mx-auto p-2">
                        <span class="sr-only">Country</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Country</span>
                        <select formControlName="country" class="w-full" [value]="userData?.country"
                            class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': updateUserForm.get('country')?.invalid && updateUserForm.get('country')?.touched }"
                            placeholder="country" type="text">
                            <option selected hidden class="font-sans">{{userData?.country}}</option>
                            <option *ngFor="let country of countries">{{ country.name }}</option>
                        </select>
                        <div *ngIf="updateUserForm.get('country')?.invalid && updateUserForm.get('country')?.touched"
                            class="text-red-500 mx-2">
                            select your country
                        </div>
                    </div>
                    <div class="mx-auto p-2">
                        <span class="sr-only">State</span>
                        <span class="ml-4 font-bold text-gray-600 italic">State</span>
                        <input formControlName="state" [value]="userData?.state"
                            class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': updateUserForm.get('state')?.invalid && updateUserForm.get('state')?.touched }"
                            placeholder="State" type="text">
                        <div *ngIf="updateUserForm.get('state')?.invalid && updateUserForm.get('state')?.dirty"
                            class="text-red-500 mx-2">
                            Select your state
                        </div>
                    </div>
                    <div class="mx-auto p-2">
                        <span class="sr-only">City</span>
                        <span class="ml-4 font-bold text-gray-600 italic">City</span>
                        <input formControlName="city" [value]="userData?.city"
                            class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': updateUserForm.get('city')?.invalid && updateUserForm.get('city')?.touched }"
                            placeholder="City" type="text">
                        <div *ngIf="updateUserForm.get('city')?.invalid && updateUserForm.get('city')?.dirty"
                            class="text-red-500 mx-2">
                            Please select your city
                        </div>
                    </div>
                    <div class="mx-auto p-2">
                        <span class="sr-only">Address</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Address</span>
                        <textarea formControlName="address" [value]="userData?.address"
                            class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': updateUserForm.get('address')?.invalid && updateUserForm.get('address')?.touched }"
                            placeholder="Write your addresss here" rows="5" cols="20"></textarea>
                        <div *ngIf="updateUserForm.get('address')?.invalid && updateUserForm.get('address')?.dirty"
                            class="text-red-500 mx-2">
                            Address is required
                        </div>
                    </div>
                    <div class="mx-auto p-2">
                        <span class="sr-only">Postal code</span>
                        <span class="ml-4 font-bold text-gray-600 italic">Postal code</span>
                        <input formControlName="postalCode" [value]="userData?.postalCode"
                            class="w-full bg-gray-100 border-b-2 px-4 py-2 rounded-lg p-2 mr-2 border-gray-400 hover:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': updateUserForm.get('postalCode')?.invalid && updateUserForm.get('postalCode')?.touched }"
                            placeholder="Postal code" type="number">
                        <div *ngIf="updateUserForm.get('postalCode')?.invalid && updateUserForm.get('postalCode')?.dirty"
                            class="text-red-500 mx-2">
                            postal code cannot be empty
                        </div>
                    </div>
                    <div class="grid grid-cols-2">
                        <div>
                            <button
                                class="bg-gray-950 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                (click)="toggleIndex(-1)">
                                Prev
                            </button>
                        </div>
                        <div>
                            <button
                                class="bg-red-600 rounded-md mx-auto py-1 px-2 m-2 font-bold font-sans mx-4 text-white text-sm lg:text-md flex items-center justify-center"
                                type="submit" (click)="updateUserAdmin()">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>