<section class="w-full mt-20 px-4">
    <div class="grid lg:grid-cols-2 gap-6 items-center max-w-6xl mx-auto">
        <div class="flex justify-center order-2 lg:order-1">
            <img src="../../../assets/landing/about-vision.jpg" alt="Berliz Mission"
                class="w-[400px] lg:w-[500px] h-[400px] lg:h-[450px] object-cover rounded-md shadow-lg transform hover:scale-105 transition" />
        </div>
        <div class="space-y-4 order-1 lg:order-2 text-white">
            <h2 class="text-3xl md:text-4xl font-extrabold text-red-600 uppercase font-sans text-center lg:text-left">
                Our Mission</h2>
            <p class="text-sm md:text-base leading-relaxed">
                <strong class="text-xl">A</strong>t Berliz, our mission is to inspire and empower
                individuals on their path to optimal wellness by making fitness accessible, personalized, and
                transformative.
            </p>
            <p class="text-sm md:text-base  leading-relaxed">
                We believe that every journey is unique. That’s why we offer tailored workout plans, diet guidance, and
                a community-driven ecosystem that supports every step of your transformation — no matter your starting
                point.
            </p>
            <p class="text-sm md:text-base  leading-relaxed">
                By leveraging cutting-edge technology and a commitment to inclusivity, Berliz breaks barriers and
                redefines what’s possible in fitness.
            </p>
            <button [routerLink]="['/sign-up']"
                class="bg-white text-red-600 px-6 py-2 rounded-md font-semibold transition transform hover:bg-red-600 hover:text-white">
                Join Now
            </button>
        </div>
    </div>
</section>