<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-gray-950 font-sans font-bold text-xl uppercase mt-4">{{ clientData.user.email }} - ID: {{
                clientData.id }}</p>
            <p class="text-red-600 font-sans font-bold text-sm italic">
                created at {{ formatDate(clientData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div>
                    <img class="w-16" class="bg-gray-200 rounded-md p-2"
                        [src]="'data:image;base64,' + clientData.user.profilePhoto">
                </div>
                <div class="flex flex-col m-4 gap-2">
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Motivation: {{ clientData.motivation }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex italic justify-center">
                        <ng-container *ngFor="let subscriptions of clientData.subscriptions; let i = index">
                            <ng-container *ngFor="let category of subscriptions.categories; let i = index">
                                {{ category.name }} {{ i < (subscriptions.categories.length - 1) ? "/" : "" }}
                                    </ng-container>
                            </ng-container>
                    </p>

                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Body fat: <span class="ml-2 text-gray-800 italic">
                            {{ clientData.bodyFat | number:'1.2-2' }} %</span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Daily calories Intake: <span class="ml-2 text-gray-800 italic">
                            {{ clientData.caloriesIntake }} cal</span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Dietary preference: {{ clientData.dietaryPreferences }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Weight: <span class="ml-2 text-gray-800 italic">{{ clientData.weight }} kg</span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Dietary Restrictions {{ clientData.dietaryRestrictions }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Height: <span class="ml-2 text-gray-800 italic">{{ clientData.height }} cm</span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Medical conditions: {{ clientData.medicalConditions }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Mode of training: <ng-container
                            *ngFor="let subscriptions of clientData.subscriptions; let i = index">
                            {{ subscriptions.mode }}
                        </ng-container>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        <ng-container *ngFor="let subscription of clientData.subscriptions; let i = index">
                            Subscriptions: {{ subscription.months }} months ({{ formatDate(subscription.endDate) }}) {{
                            i < (clientData.subscriptions.length - 1) ? "/" : "" }} </ng-container>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Target weight: <span class="ml-2 text-gray-800 italic">{{ clientData.targetWeight }} cm</span>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        Client status: {{ clientData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(clientData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>