<div class="bg-gray-100 font-sans rounded-lg" *ngIf="trainerData">
    <div class="w-full h-64 overflow-hidden">
        <img src="../../../../assets/landing/hero-bg-4.jpg" class="w-full h-64 object-cover overflow-hidden rounded-lg">
    </div>
    <div *ngIf="user" class="relative overflow-visible -mt-16 flex items-center justify-center">
        <img [src]="'data:image;base64, ' + trainerData.photo" onerror="this.src='../../../assets/icons/user.png';"
          class="shadow-lg ring-offset-2 ring-red-400 ring-4 rounded-full w-32">
        <label for="fileInput" class="absolute bottom-0 ml-36">
          <i-feather name="Camera" class="font-bold text-red-600 cursor-pointer"></i-feather>
        </label>
        <form [formGroup]="updateTrainerPhotoForm">
          <input accept="image/*" type="file" formControlName="photo" id="fileInput" style="display: none;"
            (change)="onImgSelected($event)">
        </form>
      </div>      
    <div class="justify-between mt-4 font-sans flex flex-col justify-center items-center">
        <div *ngIf="user" class="text-gray-950  text-2xl text-center">
            {{ user.firstname }} {{ user.lastname }}
        </div>
        <div *ngIf="user?.role==='user'" class="italic text-gray-400 font-bold text-md mb-2 text-center">
            Application pending
        </div>
        <div *ngIf="user?.role!=='user'" class="Capitalize italic text-gray-400 font-bold text-md mb-2 text-center">
            {{ trainerData.partner.user.role }}
        </div>
        <div
            class="flex items-center justify-center gap-1 md:gap-4 m-4  border-2 p-1 md:p-2 rounded-lg border-gray-200 shadow-sm font-bold text-md">
            {{ trainerData.likes }}<span class="text-sm text-gray-400">Likes</span>
            <div class="border-l-2 h-4 border-gray-200"></div>
            0<span class="text-sm text-gray-400">Clients</span>
            <div class="border-l-2 h-4 border-gray-200"></div>
            0<span class="text-sm text-gray-400">Centers</span>
        </div>
        <div class="text-gray-600 font-sans italic m-1 p-4 justify-text">
            {{ trainerData.motto }}
        </div>
        <button class="text-sm bg-red-600 text-white mt-2 py-1 mb-5 px-2 hover:bg-red-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
            (click)="openUpdateTrainer()">
            Quick update
        </button>
        <div class="bg-white p-6 mb-10">
            <app-trainer-data [trainer]="trainerData" (emitEvent)="emitData()"></app-trainer-data>
        </div>
    </div>
</div>