<section class="mt-10 p-2 flex justify-center">
    <div class="border-2 border-gray-400 bg-gray-100 rounded-md  min-w-[400px]"
        [ngClass]="{'border-red-400': loginForm.invalid && invalidForm && loginForm.touched}">
        <form [formGroup]="loginForm">
            <span *ngIf="loginForm.invalid && invalidForm && loginForm.touched" class="text-red-400 mx-2">
                Please complete all required fields
            </span>
            <div class="grid grid-cols-2 gap-2 p-4">
                <h3 class="mt-2 col-span-2 font-bold text-md uppercase text-red-500 mx-auto">
                    please login to continue
                </h3>
                <span *ngIf="invalidLogin" class="text-red-600 mx-2 font-bold font-sans">
                    {{ invalidLogin }}
                </span>
                <div class="col-span-2 flex items-center mx-auto">
                    <div>
                        <input formControlName="email"
                            class="border-2 border-gray-400 px-4 py-2 rounded-md m-2 hover:border-gray-500 focus:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }"
                            placeholder="email or email" type="text">
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty"
                            class="col-span-2 text-red-400 mx-2">
                            Invalid email
                        </div>
                    </div>
                </div>
                <div class="col-span-2 flex items-center mx-auto">
                    <div>
                        <input formControlName="password"
                            class="border-2 border-gray-400 px-4 py-2 rounded-md m-2 hover:border-gray-500 focus:border-gray-500 focus:outline-none"
                            [ngClass]="{'border-red-400': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
                            placeholder="password" type="password">
                        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty 
                        || loginForm.get('password')?.touched)"
                            class="col-span-1 text-red-400 mx-2">
                            at least 8 characters
                        </div>
                    </div>
                </div>
                <div class="bg-gray-950 rounded-md mx-auto m-2 hover:drop-shadow-2xl transition-all duration-500 transform hover:scale-110 focus:scale-110">
                    <button class="mx-2 p-2 text-gray-200 font-sans font-bold text-sm lg:text-md  flex items-center justify-center">
                        Cancel
                    </button>
                </div>
                <div class="bg-red-600 rounded-md mx-auto m-2 hover:drop-shadow-2xl transition-all duration-500 transform hover:scale-110 focus:scale-110">
                    <button class="mx-2 p-2 text-gray-200 font-sans font-bold text-sm lg:text-md flex items-center justify-center"
                     type="submit" (click)="login()">
                        Submit
                    </button>
                </div>
                <div class="rounded-md mx-auto mb-2 text-gray-950 font-bold cursor-pointer">
                         Remember me
                      <input type="checkbox" class="mx-2">
                </div>
                <div class="rounded-md mx-auto mb-2 cursor-pointer text-gray-950 font-bold">
                        <a (click)="openForgotPassword()">
                         Forgot password ?
                        </a>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="flex justify-center cursor-pointer">
    <h3 class="flex items-center text-red-500 font-bold">
      <a (click)="openSignup()">
        click here to create an account
      </a>
    </h3>
</div>