<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-gray-950 font-sans font-bold text-xl uppercase mt-4">{{ userData.firstname }} {{
                userData.lastname }} - ID {{userData.id }}</p>
            <p class="text-gray-700 font-sans font-bold text-md">
                {{ userData.email }}
            </p>
            <p class="text-red-600 font-sans font-bold text-sm italic">
                joined on {{ formatDate(userData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div class="flex">
                    <img [src]="'data:image;base64,' + userData.profilePhoto"
                        class="bg-gray-200 rounded-lg p-2 w-full h-full object-cover"
                        onerror="this.src='../../../assets/icons/user.png';">
                </div>
                <div class="flex flex-col m-4 gap-2">
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Gender: {{ userData.gender }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Birthday: {{ userData.dob }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Country: {{ userData.country }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        State: {{ userData.state }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        City - {{ userData.city }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Address: {{ userData.address }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Postal code: {{ userData.postalCode }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        User status: {{ userData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(userData.lastUpdate) }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Account role: {{ userData.role }}
                    </p>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center p-2">
                <div class="text-gray-700 font-sans font-bold text-md flex text-justify">
                    Bio: {{ userData.bio }}
                </div>
                <div class="text-gray-700 font-sans font-bold text-md flex text-justify">
                    <form [formGroup]="passwordForceChnageForm">
                        <div class="gap-2 p-1">
                            <span *ngIf="passwordForceChnageForm.invalid && invalidForm" class="text-sm text-red-600">
                                Please enter password
                            </span>
                            <div class="mx-auto mt-2">
                                <input formControlName="password" id="password"
                                    class="border-b-2 border-gray-500 w-full hover:border-gray-700 focus:border-gray-800 focus:outline-none"
                                    [ngClass]="{'border-red-600': passwordForceChnageForm.get('password')?.invalid && passwordForceChnageForm.get('password')?.touched }"
                                    placeholder="Password" type="password">
                                <div *ngIf="passwordForceChnageForm.get('password')?.invalid && (passwordForceChnageForm.get('password')?.dirty 
                                || passwordForceChnageForm.get('password')?.touched)" class="text-sm text-red-600">
                                    at least 8 characters
                                </div>
                            </div>
                            <div class="mx-auto mt-2">
                                <span class="sr-only">Confirm password</span>
                                <input formControlName="confirmPassword" id="confirmPassword"
                                    class="border-b-2 border-gray-500 w-full hover:border-gray-700 focus:border-gray-800 focus:outline-none"
                                    [ngClass]="{'border-red-600': passwordForceChnageForm.get('confirmPassword')?.invalid && passwordForceChnageForm.get('confirmPassword')?.touched }"
                                    placeholder="re-type password" type="password">
                                <div *ngIf="passwordForceChnageForm.hasError('passwordMismatch') && passwordForceChnageForm.get('confirmPassword')?.dirty"
                                    class="text-sm text-red-600">
                                    Passwords do not match.
                                </div>
                            </div>
                            <div
                                class="mt-6 flex items-center justify-center bg-red-600 rounded-md mx-auto text-white font-bold">
                                <button
                                    class="mx-2 p-2 hover:drop-shadow-2xl transition-all duration-500 transform hover:scale-105 focus:scale-105 text-sm md:text-md "
                                    type="submit" (click)="forcePasswordChnage()">
                                    force change password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>