/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.hero-bg {
  background-image: url('./assets/landing/hero-bg.jpg');
  background-repeat:repeat-x;     /* Prevents tiling */
  background-position: center;      /* Centers the image */
  background-color: black;        /* Optional fallback background */           
}


html, body {
  height: auto;
  min-height: 100%;
  overflow: auto;
}


.disabled-horizontal-icon {
  opacity: 0.5; /* or any other styling to visually indicate it's disabled */
  pointer-events: none; /* Disable pointer events to prevent interactions */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 640px) {
  .max-w {
    max-width: 150px;
    min-height: 350px;
  }
}

.top-z{
z-index: 20;
}

.nav-z{
  z-index: 50;
  }

  .side-z{
    z-index: 40;
  }

.full-width{
  width: 100%;
}

.snack-bar-error {
  background-color: #e61515; 
  color: #d9dcdf; 
  opacity: 50px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 2px;
  border-radius: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.snack-bar-success {
  background-color: #099e11; 
  color: #d9dcdf; 
  opacity: 50px;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 2px;
  border-radius: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mat-snack-bar-container {
  padding-right: 24px; /* Add space for X mark */
}

.mat-snack-bar-action {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  font-size: 20px;
  line-height: 1;
}

.list-styleImage {
  list-style-type: none;
  padding-left: 20px;
  background-image: url('./assets/icons/check.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}

.width{
  width: 50px;
  flex: auto;
}

.mat-dialog-height{
  max-height: 600px;
}

/* Add this style to your CSS file */
.custom-checkbox {
  /* Remove the default browser styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Set the size of the checkbox */
  width: 18px;
  height: 18px;

  /* Style the checkbox border */
  border: 2px solid #808080; /* Gray border */
  border-radius: 3px;

  /* Style the checkmark/indicator */
  background-color: #fff; /* White background */
}

/* Style the checkbox when it's checked */
.custom-checkbox:checked {
  background-color: #808080; /* Gray background */
  border-color: #808080; /* Gray border */
}

/* Optionally, you can add a hover effect */
.custom-checkbox:hover {
  border-color: #606060; /* Darker gray on hover */
}

/* Adjustments for large images */
.image-cropper-container {
  max-height: 80vh;
  /* Maximum height for the image cropper container */
  overflow: auto;
  /* Enable scrolling if the image cropper exceeds the maximum height */
}

.image-cropper {
  max-width: 100%;
  /* Ensure the image cropper does not exceed the container width */
}

.cropped-image {
  max-width: 100%;
  /* Ensure the cropped image fits within the container width */
}

/* Ensure the buttons remain visible even for large images */
.actions-container {
  position: fixed;
  /* Fixed positioning to keep the buttons visible */
  bottom: 1rem;
  /* Adjust as needed */
  left: 50%;
  /* Center horizontally */
  transform: translateX(-50%);
  /* Center horizontally */
  z-index: 999;
  /* Ensure the buttons appear above other content */
}

.custom-snackbar .mat-simple-snackbar-action {
  color: red;
  font-weight: bold;
}