<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="grid md:grid-cols-2 grid-cols w-full rounded-md bg-gray-200">
        <div class="p-2">
            <div class="shrink-0">
                <img [src]="profilePhoto" class="object-cover rounded-full"
                    onerror="this.src='../../../assets/icons/user.png';">
            </div>
        </div>
        <div class="bg-gray-950 md:rounded-r-md rounded-b-md p-8">
            <p class="text-red-600 font-sans font-bold text-md italic mb-4">{{ userData.email }}</p>
            <p class="text-gray-200 font-sans font-bold text-xl uppercase">{{ userData.phone }}</p>
            <div class="flex items-center">
                <div class="flex flex-col m-8 gap-5">
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        User ID: {{ userData.id }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Name: {{ userData.firstname }} {{ userData.lastname }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Gender: {{ userData.gender }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Date of Birth: {{ userData.dob }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Date Joined: {{ formatDate(userData.date) }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Country: {{ userData.country }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        State: {{ userData.state }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        City: {{ userData.city }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Postal code: {{ userData.postalCode }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Address: {{ userData.address }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Account status: {{ userData.status === 'true' ? 'active' :'false' }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Account role: {{ userData.role }}
                    </p>
                    <p class="text-gray-200 font-sans font-bold text-md flex">
                        Last updated: {{ formatDate(userData.lastUpdate) }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>