<div class="relative bg-white text-gray-700 p-2">
    <div class="text-red-600 absolute top-0 right-0 p-5">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="bg-white">
        <form [formGroup]="addCenterForm">
            <header class="text-center m-2 text-gray-700 font-bold font-sans">
                <h1 class="text-xl">Complete Ceter Application</h1>
                <p class="italic text-sm text-red-600">Get ready to transform lives
                </p>
            </header>
            <div class="invalid-form">
                <span *ngIf="!addCenterForm.invalid 
                         && invalidForm" class="mx-2 text-gray-700">
                    Everything looks good
                </span>
                <span *ngIf="addCenterForm.invalid 
                 && invalidForm" class="mx-2 text-red-500">
                    Please complete all sessions
                </span>
            </div>
            <div class=":grid-cols-1 md:grid-cols-2 p-1 gap-2">
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Select partner</span>
                    <select formControlName="id"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('id')?.invalid && addCenterForm.get('id')?.dirty }"
                        type="text">
                        <option selected hidden class="font-sans">Please select partner </option>
                        <option *ngFor="let partner of activePartners" [value]="partner.id">{{ partner.user.email }}
                        </option>
                    </select>
                    <div *ngIf="addCenterForm.get('id')?.invalid && addCenterForm.get('id')?.dirty"
                        class="text-red-500 mx-2">
                        Partner cannot be null
                    </div>
                </div>
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Center Name</span>
                    <input formControlName="name"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('name')?.invalid && addCenterForm.get('name')?.dirty }"
                        placeholder="Display name e.g Team Berliz" type="text">
                    <div *ngIf="addCenterForm.get('name')?.invalid && addCenterForm.get('name')?.dirty"
                        class="text-red-500 mx-2">
                        Center name is required
                    </div>
                </div>
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Experience</span>
                    <input formControlName="experience"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('experience')?.invalid && addCenterForm.get('experience')?.dirty }"
                        placeholder="experience" type="number" min="0">
                    <div *ngIf="addCenterForm.get('experience')?.invalid && addCenterForm.get('experience')?.dirty"
                        class="text-red-500 mx-2">
                        Expereince is required
                    </div>
                </div>
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Motto</span>
                    <textarea formControlName="motto"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('motto')?.invalid && addCenterForm.get('motto')?.dirty }"
                        placeholder="Write a short bio about discipline or motto" rows="5" cols="25"></textarea>
                    <div *ngIf="addCenterForm.get('motto')?.invalid && addCenterForm.get('motto')?.dirty"
                        class="text-red-500 mx-2">
                        At least 30 characters
                    </div>
                </div>
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Location</span>
                    <textarea formControlName="location"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('location')?.invalid && addCenterForm.get('location')?.dirty }"
                        placeholder="Googel maps location url e.g https://g.co/kgs/Y2icb6" rows="5"
                        cols="25"></textarea>
                    <div *ngIf="addCenterForm.get('location')?.invalid && addCenterForm.get('location')?.dirty"
                        class="text-red-500 mx-2">
                        At least 30 characters
                    </div>
                </div>
                <div class="mx-auto p-2">
                    <span class="italic text-gray-700 font-bold">Address</span>
                    <textarea formControlName="address"
                        class="w-full px-4 py-2 m-2 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        [ngClass]="{'border-red-400': addCenterForm.get('address')?.invalid && addCenterForm.get('address')?.dirty }"
                        placeholder="Write your street address or location here" rows="5" cols="25"></textarea>
                    <div *ngIf="addCenterForm.get('address')?.invalid && addCenterForm.get('address')?.dirty"
                        class="text-red-500 mx-2">
                        At least 10 characters
                    </div>
                </div>
                <div class="mx-auto p-2 col-span-2">
                    <span class="sr-only">Choose cover photo</span>
                    <span class="italic text-gray-700 font-bold flex items-center justify-center">Upload cover
                        photo</span>
                    <div class="flex">
                        <div class="shrink-0">
                            <img class="h-16 w-16 object-cover rounded-md" src="../../../assets/icons/user.png"
                                alt="Display photo" />
                        </div>
                        <input formControlName="photo" class="border-2 px-4 py-2 rounded-md m-2 hover:border-gray-400 focus:border-gray-400 focus:outline-none
                        block w-full text-sm text-gray-950 font-bold cursor-pointer file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0
                        file:text-sm file:font-semibold file: file:text-red-600 hover:file:   file:cursor-pointer"
                            [ngClass]="{'border-gray-950': invalidForm && this.addCenterForm.get('photo')?.dirty}"
                            (change)="onPhotoSelected($event)" type="file" accept="image/*">
                    </div>
                    <div *ngIf="this.addCenterForm.invalid && this.addCenterForm.get('photo')?.invalid && this.addCenterForm.get('photo')?.dirty"
                        class="text-red-500 mx-2">
                        Upload a valid image
                    </div>
                </div>
                <div class="col-span-2">
                    <span class="italic text-gray-700 font-bold">Categories</span>
                    <div class="mx-auto grid grid-cols-2 md:grid-cols-4 rounded-lg text-gray-700">
                        <div *ngIf="addCenterForm.get('categoryIds')?.invalid && invalidForm"
                            class="text-red-500 mx-2 col-span-4">
                            Select at least one category
                        </div>
                        <div *ngFor="let category of categories; let i = index"
                            class="mx-auto flex items-center justify-center">
                            <input formArrayName="categoryIds" (change)="onCheckboxChanged($event)"
                                class="w-full border-b-2 px-4 py-2 rounded-md m-2 text-gray-950 focus:outline-none border-gray-400 hover:border-gray-500"
                                placeholder="tags" type="checkbox" [value]="category.id">
                            {{ category.name }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-2">
                <div class="bg-gray-950 rounded-md mx-auto m-2">
                    <button type="button"
                        class="py-1 px-2 font-bold font-sans text-white text-sm lg:text-md flex items-center justify-center"
                        (click)="clear()">
                        Clear
                    </button>
                </div>
                <div class="bg-red-600 rounded-md mx-auto m-2">
                    <button type="submit"
                        class="py-1 px-2 font-bold font-sans text-white text-sm lg:text-md flex items-center justify-center"
                        (click)="addTrainer()">
                        Add
                    </button>
                </div>
            </div>
        </form>
    </section>