<div class="bg-gray-100 font-sans rounded-lg -m-4" *ngIf="user">
    <div class="w-full h-64 overflow-hidden">
        <img src="../../../../assets/landing/hero-bg-4.jpg"
            class="w-full h-48 md:h-64 object-cover overflow-hidden rounded-lg">
    </div>
    <div class="relative overflow-visible -mt-32 md:-mt-16  flex items-center justify-center">
        <img [src]="'data:image;base64, ' + user.profilePhoto" onerror="this.src='../../../assets/icons/user.png';"
            class="shadow-lg ring-offset-2 ring-red-400 ring-4 rounded-full w-32">
        <label for="fileInput" class="absolute bottom-0 ml-36">
            <i-feather name="Camera" class="font-bold text-red-600 cursor-pointer"></i-feather>
        </label>
        <input accept="image/*" type="file" id="fileInput" style="display: none;"
            (change)="onImgSelected($event, user.id)">
    </div>
    <div class="justify-between mt-4 font-sans flex flex-col justify-center items-center">
        <div *ngIf="user" class="text-gray-950  text-2xl text-center">
            {{ user.firstname }} {{ user.lastname }}
        </div>
        <div *ngIf="user?.role==='user'" class="italic text-gray-400 font-bold text-md mb-2 text-center">
            Application pending
        </div>
        <div *ngIf="user?.role!=='user'" class="Capitalize italic text-gray-400 font-bold text-md mb-2 text-center">
            {{ user.role }}
        </div>
        <div
            class="flex items-center justify-center gap-1 md:gap-4 m-4  border-2 p-1 md:p-2 rounded-lg border-gray-200 shadow-sm font-bold text-md">
            0<span class="text-sm text-gray-400">Tasks</span>
            <div class="border-l-2 h-4 border-gray-200"></div>
            0<span class="text-sm text-gray-400">Subscriptions</span>
        </div>
        <div class="grid grid-cols gap-2 p-2 md:p-8 w-full border-b-2 rounded-lg border-gray-200 shadow-sm text-md">
            <form [formGroup]="bioForm">
                <div class="mx-auto w-full">
                    <span class="ml-4 font-bold text-gray-600 italic text-center">Bio</span>
                    <textarea formControlName="bio" [value]="user.bio" [(ngModel)]="user.bio"
                        class="w-full px-4 py-2 m-2 rounded-md bg-gray-100 focus:outline-none border-b-2 border-gray-400 hover:border-gray-500"
                        placeholder="You can write a short description about you, your values, and what you aim to achive in the fitness and sports industry"
                        rows="10" cols="20"></textarea>
                </div>
                <div class="text-red-600 font-sans italic font-bold flex items-center justify-center">
                    <button (click)="updateBio()" class="font-sans italic font-bold">save</button>
                    </div>
            </form>
            <div class="text-gray-600 font-sans itali mt-10">
                You joined Berliz on
                <span class="font-bold">{{ formatDate(user.date) }}</span>
            </div>
        </div>
        <button class="text-sm bg-red-600 text-white mt-6 py-1 mb-5 px-2 hover:bg-red-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"><a
                [routerLink]="['/dashboard/profile/settings']">
                Go to settings
            </a>
        </button>
    </div>
</div>