<div class="bg-gray-100 font-sans rounded-lg" *ngIf="user">
    <div class="w-full h-64 overflow-hidden">
        <img src="../../../../assets/landing/hero-bg-4.jpg" class="w-full h-64 object-cover overflow-hidden rounded-lg">
    </div>
    <div *ngIf="user" class="relative overflow-visible -mt-16 flex items-center justify-center">
        <img [src]="'data:image;base64, ' + user.profilePhoto" onerror="this.src='../../../assets/icons/user.png';"
            class="shadow-lg ring-offset-2 ring-red-400 ring-4 rounded-full w-32">
        <label for="fileInput" class="absolute bottom-0 ml-36">
            <i-feather name="Camera" class="font-bold text-red-600 cursor-pointer"></i-feather>
        </label>
        <input accept="image/*" type="file" formControlName="photo" id="fileInput" style="display: none;"
            (change)="onImgSelected($event, user.id)">
    </div>
    <div class="justify-between mt-4 font-sans flex flex-col justify-center items-center">
        <div *ngIf="user" class="text-gray-950  text-2xl text-center">
            {{ user.firstname }} {{ user.lastname }}
        </div>
        <div *ngIf="user?.role==='user'" class="italic text-gray-400 font-bold text-md mb-2 text-center">
            Application pending
        </div>
        <div *ngIf="user?.role!=='user'" class="Capitalize italic text-gray-400 font-bold text-md mb-2 text-center">
            {{ user.role }}
        </div>
        <div
            class="flex items-center justify-center gap-1 md:gap-4 m-4  border-2 p-1 md:p-2 rounded-lg border-gray-200 shadow-sm font-bold text-md">
            0<span class="text-sm text-gray-400">Tasks</span>
            <div class="border-l-2 h-4 border-gray-200"></div>
            0<span class="text-sm text-gray-400">Membership</span>
            <div class="border-l-2 h-4 border-gray-200"></div>
            0<span class="text-sm text-gray-400">Subscriptions</span>
        </div>
        <div
            class="grid grid-cols md:grid-cols-2 gap-2 m-4 p-4 border-2 rounded-lg border-gray-200 shadow-sm font-bold text-md">
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Phone:</span> {{ user.phone }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Email:</span> {{ user.email }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Date of Birth:</span> {{ user.dob }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Gender:</span> {{ user.gender }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Country:</span> {{ user.country }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">State:</span> {{ user.state }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">City:</span> {{ user.city }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Postal Code:</span> {{ user.postalCode }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Address:</span> {{ user.address }}
            </div>
            <div class="text-gray-600 font-sans italic">
                <span class="font-bold">Date joined:</span> {{ formatDate(user.date) }}
            </div>
        </div>


        <button class="text-sm bg-red-600 text-white mt-6 py-1 mb-5 px-2 hover:bg-red-700 rounded-md font-sans mx-auto
        transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"><a
                [routerLink]="['/profile/settings']">
                Go to settings
            </a>
        </button>
    </div>
</div>