<app-navigation-bar></app-navigation-bar>
<app-trainer-detail-hero
[album]="trainerHeroAlbum" [stats]="trainerStats">
</app-trainer-detail-hero>
<app-trainer-introduction
[trainerIntroduction]="trainerIntroduction"></app-trainer-introduction>
<app-trainer-category
[category]="trainerCategory"></app-trainer-category>
<app-trainer-feature-video
[trainerVideos]="trainerVideo"></app-trainer-feature-video>
<app-trainer-benefits
[trainerBenefit]="trainerBenefits"
[album]="trainerHeroAlbum"></app-trainer-benefits>
<app-trainer-client-review
[trainerReview]="trainerReview"></app-trainer-client-review>
<app-trainer-album
[trainerPhotoALbum]="trainerPhotoAlbum"></app-trainer-album>
<app-chat-with-trainer
[whatsappContact]="trainerwhatsapp"></app-chat-with-trainer>
<app-footer></app-footer>
<app-chat-with-trainer-pop-up
[whatsappContact]="trainerwhatsapp"></app-chat-with-trainer-pop-up>
