<div class="relative">
    <div class="text-red-600 absolute top-0 right-0 p-1">
        <i-feather name="x-circle" (click)="closeDialog()" class="cursor-pointer"></i-feather>
    </div>
    <section class="p-2 flex flex-col justify-center items-center">
        <div class="text-center">
            <p class="text-red-600 font-sans font-bold text-xl uppercase mt-4">{{ trainerData.name }} [ID {{
                trainerData.id }}]</p>
            <p class="text-gray-500 font-sans font-bold text-sm italic">
                created at {{ formatDate(trainerData.date) }}
            </p>
            <div class="md:rounded-r-md rounded-b-md p-8 grid grid-cols md:grid-cols-2">
                <div class="flex items-center justify-center">
                    <img [src]="'data:image;base64,' + trainerData.photo " class="bg-gray-200 rounded-lg p-2"
                        onerror="this.src='../../../assets/icons/user.png';">
                </div>
                <div class="flex flex-col m-4 gap-2">
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        {{ trainerData.partner.user.email }} - <span class="ml-2 text-red-600"> user id - {{
                            trainerData.partner.user.id }}
                        </span> </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        {{ trainerData.motto }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        <ng-container *ngFor="let category of trainerData.categorySet; let i = index">
                            {{ category.name }} {{ i < (trainerData.categorySet.length - 1) ? "/" : "" }}
                                </ng-container>
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex text-justify">
                        Motivation - {{ trainerData.partner.motivation }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Liked by {{ trainerData.likes }} users
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex mt-2">
                        Trainer status: {{ trainerData.status ==='true' ? 'active' :'false' }}
                    </p>
                    <p class="text-red-600 font-sans font-bold text-md flex mt-2">
                        Last Update: {{ formatDate(trainerData.lastUpdate) }}
                    </p>
                    <p class="text-gray-700 font-sans font-bold text-md flex">
                        Center id: {{ trainerData.id }}, Partner id: {{ trainerData.partner.id }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>