<section class="bg-red-600 rounded-md flex flex-wrap mt-40">
    <div class="grid lg:grid-cols-4 grid-cols-2 lg:gap-40 gap-20 m-10 mx-auto">
        <div class="flex justify-between items-center cursor-pointer p-2
                transition-all duration-300 transform hover:scale-105 focus:scale-105 hover:drop-shadow-2xl"
                *ngFor="let stat of stats">
            <div class="w-full items-center justify-items-center">
                <div class="flex flex-col justify-center items-center bg-gray-100 rounded-md aspect-square">
                    <p class="text-center text-md font-bold lg:text-md text-red-600 text-transform: uppercase">
                        {{ stat.name }}
                    </p>
                    <div class="mt-3 w-10">
                        <img src="{{ stat.iconUrl }}">
                    </div>
                    <p class="mt-1 text-sm lg:text-sm w-full text-center font-sans mb-2">
                        {{ stat.counterValue }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>